.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  width: 100%;
  max-width: max-content;

  border: 1px solid transparent;
  border-radius: 84px;
  line-height: 1.3;

  transition: background-color .45s ease, border-color .45s ease, color .45s ease, transform .45s ease;

  font-size: 13px;
  min-height: 40px;

  span {
    display: inline-block;
  }


  @media (min-width:toEm($mobileSmall)) {
    font-size: 16px;
    min-height: 50px;
  }

  &.btn--1,
  &.btn--2 {
    flex-direction: row-reverse;
    font-weight: 400;
    padding-inline: 21px;
    color: var(--white);
    border-color: var(--white);
    min-height: 30px;
    font-size: 11px;
    gap: 8px;

    @media (min-width:toEm($mobileSmall)) {
      padding-inline: 30px;
      min-height: 43px;
      gap: 11px;
      font-size: 16px;
    }

    &::before {
      transition: transform .45s ease;
      font-size: 7px;

      @media (min-width:toEm($mobileSmall)) {
        font-size: 8px;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--white);
        color: var(--primary);
        border-color: var(--white);

        &::before {
          transform: translate(5px, 0);
        }
      }
    }
  }

  &.btn--2 {
    font-weight: 600;
    min-height: 40px;
    font-size: 13px;
    gap: 8px;

    @media (min-width:toEm($mobileSmall)) {
      padding-inline: 30px;
      min-height: 50px;
      gap: 11px;
      font-size: 16px;
    }

    &::before {
      font-size: 6px;
      font-weight: 600;

      @media (min-width:toEm($mobileSmall)) {
        font-size: 8px;
      }
    }
  }

  &.btn--3,
  &.btn--4 {
    display: grid;
    grid-template-columns: 1fr auto;
    font-weight: 600;
    min-height: 40px;
    background-color: var(--white);
    padding: 4px;
    font-size: 13px;

    .btn-arr {
      display: grid;
      place-items: center;
      border-radius: 50%;
      background-color: var(--primary);
      color: var(--white);
      font-size: 10px;
      width: 30px;
      height: 100%;
      min-height: 100%;
      aspect-ratio: 1;
      padding-left: 2px;

      &::before {
        transition: transform .45s ease;
      }
    }

    .btn-txt {
      padding-inline: 8px;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--primary);
        color: var(--white);
        border-color: var(--white); 
        .btn-arr {
          &::before {
           transform: translate(5px, 0);
         }
        }
      }
    }
  }

  &.btn--4 {
    min-height: 40px;
    font-size: 13px;

    @media (min-width:toEm($mobileSmall)) {
      min-height: 50px;
      font-size: 16px;
    }

    .btn-arr {
      font-size: 11px;
      @media (min-width:toEm($mobileSmall)){
         width: 40px; 
      }
    }
  }
}

.btn-txt {}

.btn-arr {}