<a href="#" data-fls-btn class="btn btn--1 --icon-arrowrightb" aria-label="link">
	<span class="btn-txt">Зв’язатися з нами</span>
</a>
<a href="#" data-fls-btn class="btn btn--2 --icon-arrowrightc" aria-label="link">
	<span class="btn-txt">Завантажити презентацію</span>
	<span class="btn-arr"></span>
</a>
<a href="#" data-fls-btn class="btn btn--3" aria-label="link">
	<span class="btn-txt">Залишити заявку</span>
	<span class="btn-arr --icon-arrowrightb"></span>
</a>
<a href="#" data-fls-btn class="btn btn--4" aria-label="link">
	<span class="btn-txt">Завантажити PDF</span>
	<span class="btn-arr --icon-arrowrightb"></span>
</a>