// body::after {
// 	content: "";
// 	background-color: rgba(0, 0, 0, 0.3);
// 	position: fixed;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	opacity: 0;
// 	transition: opacity 0.8s ease 0s;
// 	pointer-events: none;
// 	z-index: 149;
// }
// [data-fls-popup-open] body::after {
// 	opacity: 1;
// }

[data-fls-popup] {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	z-index: 150;

	&[data-fls-popup-active] {
		visibility: visible;
		overflow: auto;
		pointer-events: auto;
	}

	padding: 30px 20px;

	@media (min-width: toEm($mobileSmall)) {
		padding: 30px 10px;
	}
}

[data-fls-popup-wrapper] {
	position: relative;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

[data-fls-popup-close] {
	display: grid;
	place-items: center;
	outline: none;
}

[data-fls-popup="popup--contacts"],
[data-fls-popup="popup--brief"] {
	padding: 0px;

	@media (min-width: toEm($mobileSmall)) {
		padding: 0px;
	}

	&[data-fls-popup-active] {
		pointer-events: none;
	}

	&[data-fls-popup-active] [data-fls-popup-body] {
		transform: translate(0%, 0);
		top: 38px;
	}

	[data-fls-popup-body] {
		pointer-events: all;
		position: fixed;
		top: 0;
		right: 0;
		overflow-y: auto;
		height: 100%;
		transform: translate(0, -100%);
		// margin-top: 37px;
		transition:
			transform 0.45s ease 0s,
			top 0.45s ease 0s,
			visibility 0.45s ease 0s;
		background-color: #eee;
		padding: 45px 34px;
		width: 100%;
		max-width: 100%;
		border-radius: 0 0 30px 30px;

		box-shadow: 0 4px 40px -5px rgba(0, 0, 0, 0.4);
		background: var(--primary);

		@media (min-width: toEm($mobileSmall)) {
			transform: translate(100%, 0%);
			border-radius: 0px;
			max-width: 400px;
			transition:
				transform 0.3s ease 0s,
				visibility 0.3s ease 0s;
		}

		@media (max-width: toEm($mobileSmall)) {
			max-height: max-content;
		}
	}

	[data-fls-popup-close] {
		margin-bottom: 38px;
		margin-left: auto;

		@media (min-width: toEm($mobileSmall)) {
			margin-bottom: 75px;
			margin-left: unset;
		}
	}

	.popup-content {
		color: var(--white);
		line-height: 1.3;
		text-align: center;

		@media (min-width: toEm($mobileSmall)) {
			text-align: left;
		}

		a {
			// display: block;
		}

		// .popup-content__title
		&__title {
			font-size: 24px;
			margin-bottom: 3px;

			@media (min-width: toEm($mobileSmall)) {
				font-size: 29px;
			}
		}

		// .popup-content__subtitle
		&__subtitle {
			font-weight: 600;
			font-size: 12px;
			margin-bottom: 29px;

			@media (min-width: toEm($mobileSmall)) {
				font-size: 14px;
				margin-bottom: 33px;
			}
		}

		// .popup-content__contacts
		&__contacts {}

		// .popup-content__contact
		&__contact {}

		// .popup-content__phone
		&__phone {
			font-weight: 600;
			font-size: 32px;
			letter-spacing: -0.02em;
			@extend %underline;

			&:after {
				background-color: var(--white);
				bottom: 0px;
			}
		}

		// .popup-content__mail
		&__mail {
			font-weight: 600;
			font-size: 23px;
			letter-spacing: -0.02em;
			@extend %underline;

			&:after {
				background-color: var(--white);
				bottom: 0px;
			}
		}

		// .popup-content__social
		&__social {
			display: flex;
			justify-content: center;
			gap: 17px;
			margin: 29px 0 29px;

			@media (min-width: toEm($mobileSmall)) {
				margin: 33px 0 33px;
				justify-content: flex-start;
			}
		}

		// .popup-content__social-ic
		&__social-ic {
			transition: transform 0.3s ease;

			@media (any-hover: hover) {
				&:hover {
					transform: translate(0, -5px);
				}
			}

			img {
				max-width: 40px;

				@media (min-width: toEm($mobileSmall)) {
					max-width: 50px;
				}
			}
		}

		// .popup-content__btns
		&__btns {
			max-width: 228px;

			@media (max-width: toEm($mobileSmall)) {
				margin-inline: auto;
			}
		}

		// .popup-content__btn
		&__btn {
			max-width: 228px;
			color: var(--primary);

			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}

		// .popup-content__sm-t
		&__sm-t {
			margin-top: -5px;
			font-size: 10px;
			text-align: center;
		}
	}
}

[data-fls-popup="popup--contacts"] {
	[data-fls-popup-body] {
		@media (min-width: toEm($mobileSmall)) {
			top: 38px;
		}
	}

	.lng-popup {
		@media (min-width: toEm($mobileSmall)) {
			display: none;
		}
	}
}

[data-fls-popup="popup--form"],
[data-fls-popup="popup--estimate"],
[data-fls-popup="popup--msg"] {
	padding: 0;

	[data-fls-popup-wrapper] {}

	[data-fls-popup-body] {
		position: fixed;
		top: 0;
		right: 0;
		// overflow-y: auto;
		transition: transform 0.3s ease 0s;
		transform: translate(100%, 0);
		background: var(--primary);

		width: 100%;
		height: 100%;
	}

	&[data-fls-popup-active] [data-fls-popup-body] {
		transform: translate(0%, 0);
	}

	[data-fls-popup-close] {
		position: absolute;
		top: 30px;
		right: 10px;
		z-index: 5;
		width: 38px;
		aspect-ratio: 1;

		@media (min-width: toEm($mobileSmall)) {
			top: 34px;
			width: 43px;
			right: 20px;
		}

		// svg {
		// 	width: 100%;
		// 	height: auto;

		// 	rect,
		// 	path {
		// 		stroke: var(--primary);
		// 	}
		// }
	}


}

%blockPopup {
	position: relative;
	max-width: 820px;
	width: 100%;
	height: 100%;
	max-height: max-content;
	padding: 35px 16px;
	overflow-y: auto;
}

.popup-form {

	// .popup-form__wrapper
	&__wrapper {}

	// .popup-form__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .popup-form__block
	&__block {
		@extend %blockPopup;
	}

	// .popup-form__close
	&__close {}

	// .popup-form__content
	&__content {
		color: var(--white);
	}

	// .popup-form__title
	&__title {
		@include adaptiveValue("font-size", 50, 30);
		margin-bottom: 30px;

		@media (min-width: toEm($mobileSmall)) {
			margin-bottom: 60px;
		}
	}
}

.form-popup {
	&.--sending {
		opacity: 0.5;
		pointer-events: none;
	}
	// .form-popup__items
	&__items {
		display: grid;
		gap: 27px;
		margin-bottom: 27px;

		@media (min-width: toEm($mobileSmall)) {
			grid-template-columns: 1fr 1fr;
			gap: 40px 44px;
			margin-bottom: 40px;
		}
	}

	// .form-popup__item
	&__item {
		position: relative;

		&.--form-focus,
		&.--input-fill {
			label {
				transform: translateY(-100%);
			}
		}

		&.--form-error {
			color: var(--red);

			label {
				color: var(--red);
			}
		}

		label {
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			pointer-events: none;
			transition:
				transform 0.3s ease,
				color 0.3s ease;
			// .--form-focus & {
			// 	transform: translateY(100%);
			// }
		}

		textarea.input-main {
			min-height: 54px;

			@media (min-width: toEm($mobileSmall)) {
				min-height: 58px;
			}
		}

		.input-main {
			border-color: #7d7d7d;
		}

		.form-file__btn {
			color: var(--white);

			&::after {
				background-color: var(--white);
			}
		}
	}

	// .form-popup__send
	&__send {
		min-width: 220px;

		&.btn.btn--5 {
			border-color: var(--white);
		}
	}

	// .form-popup__checkbox
	&__checkbox {
		margin-top: 27px;
		display: flex;
		align-items: flex-start;
		gap: 9px;

		@media (min-width: toEm($mobileSmall)) {
			margin-top: 7px;
		}

		&.--form-error {
			label {
				color: var(--red);
			}
		}

		input[type="checkbox"] {
			// 	width: 13px;
			// 	height: 13px;
			// 	min-width: 13px;
			// 	// margin-top: 2px;
			// 	cursor: pointer;
			// 	accent-color: #000;

			// 	&:checked {
			// 		background-color: var(--white);
			// 		border-color: var(--white);
			// 	}

			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			white-space: nowrap;
			border: 0;
		}

		// состояние checked: белая заливка + видимая галочка
		input[type="checkbox"]:checked+label::before {
			background: var(--white);
			border-color: var(--white);
		}

		input[type="checkbox"]:checked+label::after {
			opacity: 1;
		}

		// (опционально) фокус с клавиатуры
		input[type="checkbox"]:focus-visible+label::before {
			outline: 2px solid rgba(255, 255, 255, 0.7);
			outline-offset: 2px;
		}

		label {
			position: relative;
			font-size: 12px;
			line-height: 1.4;
			cursor: pointer;
			color: var(--white);

			a {
				text-decoration: underline;
				text-underline-offset: 2px;
				color: inherit;
				transition: 0.3s ease;

				@media (any-hover: hover) {
					&:hover {
						opacity: 0.7;
					}
				}
			}

			padding-left: 22px;

			// квадратик 13x13
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0px;
				width: 13px;
				height: 13px;
				border: 1px solid var(--white);
			}

			// галочка
			&::after {
				content: "";
				position: absolute;
				left: 3px;
				top: 3px;
				width: 8px;
				height: 5px;
				border-left: 2px solid #000;
				border-bottom: 2px solid #000;
				transform: rotate(-45deg);
				opacity: 0;
			}
		}
	}

	// .form-popup__footer
	&__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		margin-top: 30px;

		@media (min-width: toEm($mobileSmall)) {
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-top: 53px;
		}
	}
}

.popup-estimate {

	// .popup-estimate__wrapper
	&__wrapper {}

	// .popup-estimate__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .popup-estimate__close
	&__close {}

	// .popup-estimate__block
	&__block {
		color: var(--white);
		@extend %blockPopup;
		 &::-webkit-scrollbar {
			 @media (min-width:toEm($mobile)){
				 display: none;
			 }
  		}
	}

	// .popup-estimate__content
	&__content {}

	// .popup-estimate__title
	&__title {
		text-transform: uppercase;
		@include adaptiveValue("font-size", 50, 30);
		margin-bottom: 32px;
		padding-right: 50px;
	}

	// .popup-estimate__form
	&__form {}
}

.form-estimate {
	&.--sending {
		opacity: 0.5;
		pointer-events: none;
	}
	// .form-estimate__grid
	&__grid {}

	// .form-estimate__group
	&__group {
		margin-bottom: 35px;

		@media (min-width:toEm($mobileSmall)) {
			margin-bottom: 44px;
		}
	}

	// .form-estimate__title
	&__title {
		@include adaptiveValue("font-size", 20, 18);
		font-weight: 700;
		margin-bottom: 20px;
		@media (min-width:toEm($mobileSmall)){
			margin-bottom: 24px;
		}
	}

	// .form-estimate__options
	&__options {
		display: flex;
		flex-wrap: wrap;
		gap: 15px 50px;
		flex-direction: column;
		&.row {
			flex-direction: row;
		}
		@media (min-width:toEm($mobileSmall)){
			 flex-direction: row; 
		}
	}

	// .form-estimate__option
	&__option {
		position: relative;
		
		&.--form-error {
			label {
				color: var(--red);
			}
		}

		input[type="radio"] {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			white-space: nowrap;
			border: 0;
		}

		label {
			position: relative;
			display: inline-block;
			padding-left: 27px;
			font-size: 16px;
			// line-height: 1.4;
			color: rgba(255, 255, 255, 0.9);
			cursor: pointer;


			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: -2px;
				width: 19px;
				height: 19px;
				border: 1px solid rgba(255, 255, 255, 0.85);
				border-radius: 50%;
				background: transparent;
			}

			&::after {
				content: "";
				position: absolute;
				left: 4px;
				top: 2px;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				background: var(--white);
				transform: scale(0);
				transition: transform .2s ease;
			}
		}

		input[type="radio"]:checked+label::after {
			transform: scale(1);
		}

		input[type="radio"]:focus-visible+label::before {
			outline: 2px solid rgba(255, 255, 255, 0.7);
			outline-offset: 2px;
		}
	}

	// .form-estimate__fields
	&__fields {
		margin-bottom: 20px;
		@media (min-width:toEm($mobileSmall)) {
			margin-top: 58px;
		}
	}

	// .form-estimate__field
	&__field {}

	// .form-estimate__checkbox
	&__checkbox {}

	// .form-estimate__footer
	&__footer {
		margin-top: 30px;

		@media (min-width:toEm($mobileSmall)) {
			margin-top: 50px;
		}
	}

	// .form-estimate__send
	&__send {}

	// .form-estimate__send-txt
	&__send-txt {}

	// .form-estimate__send-ic
	&__send-ic {}

	// .form-estimate__file
	&__file {}
}




[data-fls-popup="popup--msg"] {
	.popup-form__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.popup-form__title {
		text-align: center;
		line-height: 1.2;
		margin-bottom: 0px !important;
	}
}

.form-file {
	display: flex;
	flex-direction: column;
	gap: 8px;

	// .form-file__wrap
	&__wrap {
		position: relative;
	}

	// .form-file__input
	&__input {
		display: none;
	}

	// .form-file__btn
	&__btn {
		color: var(--gray);
		font-size: 16px;
		max-width: 270px;
		cursor: pointer;

		@extend %underline;

		&:after {
			background-color: var(--gray);
		}
	}

	// .form-file__text
	&__text {
		.--file-added & {
			display: none;
		}
	}

	// .form-file__file-name
	&__file-name {
		display: none;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 100%;
		max-width: 270px;
		color: var(--white);

		.--file-added & {
			display: inline-block;
		}
	}
}

[data-fls-popup="popup--brief"] {
	&[data-fls-popup-active] [data-fls-popup-body] {
		top: 0;
	}

	[data-fls-popup-body] {
		// margin-top: 0;
		top: 0;

		min-height: 100dvh;
		border-radius: 0;
	}

	[data-fls-popup-close] {
		margin-bottom: 0px !important;
	}

	.popup {

		// .popup__head
		&__head {
			display: flex;
			align-items: center;
			gap: 12px;
			justify-content: space-between;
			margin-bottom: 43px;
		}

		// .popup__back-link
		&__back-link {
			display: flex;
			align-items: center;
			gap: 10px;
			color: var(--white);
			font-size: 14px;

			span {
				@extend %underline;

				&:after {
					background-color: var(--white);
				}
			}

			&::before {
				transform: scaleX(-1);
				font-size: 9px;
			}
		}
	}
}

.lng-popup {
	display: flex;
	gap: 12px;
	margin-top: 40px;
	justify-content: center;

	@media (min-width: toEm($mobileSmall)) {
		justify-content: left;
	}

	// .lng-popup__item
	&__item {}

	// .lng-popup__link
	&__link {
		color: var(--gray-light);
		font-size: 12px;
		transition: color 0.3s ease;
		@extend %underline;

		&:after {
			background-color: var(--white);
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--white);
			}
		}
	}
}

[data-fls-popup="popup--guide"] {
	padding: 0;

	transition: visibility 0.8s ease 0s, transform .3s ease 0s;
	transform: translate(100%,0);
	background-color: var(--primary);
	
	&[data-fls-popup-active] {
		transform: translate(0%,0);
	}


	[data-fls-popup-wrapper] {
		color: var(--white);
	}
	[data-fls-popup-body] {
		width: 100%;
		max-width: 802px;
		padding: 35px 16px;
	}
	[data-fls-popup-close] {

	}
	[data-fls-popup-content] {

	}
}
.popup-guide {
		// .popup-guide__wrapper
		&__wrapper {
		}

		// .popup-guide__body
		&__body {
		}

		
		// .popup-guide__content
		&__content {
		}
		
		// .popup-guide__head
		&__head {
			display: flex;
			margin-bottom: 30px;
			@media (min-width:toEm($mobileSmall)){
				 margin-bottom: 40px; 
			}
		}
		
		// .popup-guide__title
		&__title {
			text-transform: uppercase;
			@include adaptiveValue("font-size", 50, 30);
		}
		// .popup-guide__close
		&__close {
			align-self: flex-start;
			width: 40px;
			height: 40px;
			flex: 0 0 40px;
		}
		
		// .popup-guide__article
		&__article {
			font-size: 16px;
			line-height: 1.5;
			p {
				@include adaptiveValue("padding-left", 108, 45);
			}
			p,li {
				&:not(:last-child) {
					margin-bottom: 20px;
					@media (min-width:toEm($mobileSmall)){
						margin-bottom: 24px;
					}
				}
			}
		}
		
		// .popup-guide__list
		&__list {
			@extend %listCounter;
			li {
				&:before {
					content: "#" counter(item);
					@include adaptiveValue("font-size", 50, 30);
					line-height: 1;
				}
			}
		}
		
		// .popup-guide__item
		&__item {
			position: relative;
		}

		// .popup-guide__footer
		&__footer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			flex-wrap: wrap;
			margin-top: 30px;
			@include adaptiveValue("padding-left", 108, 45);
			@media (min-width:toEm($mobileSmall)){
				 margin-top: 50px; 
			}
		}

		// .popup-guide__link
		&__link {
		}

		// .popup-guide__footer-close
		&__footer-close {
			display: flex;
		}
}
