<link rel="stylesheet" href="@components/layout/popup/popup.scss">
<div data-lenis-prevent data-fls-popup="popup--form" aria-hidden="true" class="popup-form">
	<div data-fls-popup-wrapper class="popup-form__wrapper">
		<div data-fls-popup-body class="popup-form__body">
			<button data-fls-popup-close type="button" class="popup-form__close">
				<svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="0.5" y="0.5" width="42" height="42" rx="21" stroke="white" />
					<path d="M17.5 17.5L21.5 21.5L17.5 25.5" stroke="white" />
					<path d="M25.5 25.5L21.5 21.5L25.5 17.5" stroke="white" />
				</svg>
			</button>
			<div data-fls-popup-content class="popup-form__content">
				<div class="popup-form__title">
					<p>НАПИШІТЬ НАМ</p>
				</div>
				<form class="popup-form__form form-popup" data-fls-form="dev" data-fls-form-popup="popup--msg" method="POST" action="#" method="POST">
					<div class="form-popup__items">
						<div class="form-popup__item t-2">
							<label for="f1">Ваше ім‘я:</label>
							<input id="f1" data-fls-input data-fls-form-validatenow required type="text" name="form[name]" class="input-main">
						</div>
						<div class="form-popup__item t-2">
							<label for="f2">Назва компанії:</label>
							<input id="f2" data-fls-input type="text" name="form[company]" class="input-main">
						</div>
						<div class="form-popup__item t-2">
							<label for="f3">E-mail:</label>
							<input id="f3" data-fls-input data-fls-form-validatenow required type="email" name="form[email]" class="input-main">
						</div>
						<div class="form-popup__item t-2">
							<label for="f4">Телефон:</label>
							<input id="f4" data-fls-input type="tel" name="form[tel]" class="input-main">
						</div>
					</div>
					<div class="form-popup__item t-2">
						<label for="f5">Ваше повідомлення:</label>
						<textarea id="f5" data-fls-input data-fls-input-autoheight autocomplete="off" name="form[message]" class="input-main"></textarea>
					</div>
					<div class="form-popup__checkbox">
						<input type="checkbox" id="policy" name="policy" data-fls-form-validatenow required>
						<label for="policy">I have read and accept the <a href="#" target="_blank">privacy policy</a></label>
					</div>
					<div class="form-popup__footer">
						<button type="submit" class="form-popup__send btn btn--5" aria-label="send">
							<span class="btn-txt">Надіслати</span>
							<span class="btn-arr --icon-arrowrightb"></span>
						</button>
						<div class="form-popup__item form-file">
							<div class="form-file__wrap">
								<input type="file" id="fileUpload" name="form[file]" accept=".webp,.pdf,.doc,.docx" class="form-file__input">
								<button type="button" class="form-file__btn">
									<span class="form-file__text">Завантажити файл</span>
									<span class="form-file__file-name"></span>
								</button>
							</div>
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>
</div>

<div data-lenis-prevent data-fls-popup="popup--msg" aria-hidden="true" class="popup-form">
	<div data-fls-popup-wrapper class="popup-form__wrapper">
		<div data-fls-popup-body class="popup-form__body">
			<button data-fls-popup-close type="button" class="popup-form__close">
				<svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="0.5" y="0.5" width="42" height="42" rx="21" stroke="white" />
					<path d="M17.5 17.5L21.5 21.5L17.5 25.5" stroke="white" />
					<path d="M25.5 25.5L21.5 21.5L25.5 17.5" stroke="white" />
				</svg>
			</button>
			<div data-fls-popup-content class="popup-form__content">
				<div class="popup-form__title">
					<p>Дякуюємо!<br> Наш менеджер скоро зв'яжеться з вами.</p>
				</div>
			</div>
		</div>
	</div>
</div>