
section {
  position: relative;
}

.hero {
  position: relative;
  z-index: 1;
  padding-top: 160px;

  background-color: var(--primary);

  @media (min-width:toEm($mobileSmall)) {
    padding-top: 210px;
  }

  // .hero__top
  &__top {

    .hero__container {
      position: relative;

      &::after {
        @extend %circle;
        @media (min-width:toEm($tablet)) {
          top: -50px;
          right: 0;
          width: 300px;
          translate: 45% 0;
          filter: invert(100%) sepia(2%) saturate(721%) hue-rotate(269deg) brightness(115%) contrast(100%);
        }

        @media (min-width:toEm(1200.98)) {
          translate: 85% 0;
        }
        @media (max-width:toEm($tablet)){
          display: none;
        }
      }
    }
  }

  // .hero__container
  &__container {}

  // .hero__title
  &__title {
    text-align: center;
    color: var(--white);
    margin-bottom: 21px;

    @media (min-width:toEm($mobile)) {
      max-width: 720px;
      margin-inline: auto;
    }
  }

  // .hero__subtitle
  &__subtitle {
    text-align: center;
    text-wrap: balance;
    color: var(--gray-light-2);
    line-height: 1.5;
    margin-bottom: 80px;

    @media (min-width:toEm($mobile)) {
      max-width: 720px;
      margin-inline: auto;
      margin-bottom: 103px;
    }
  }

  // .hero__list
  &__list {}

  // .hero__portfolio
  &__portfolio {
    position: relative;
    overflow: hidden;
    padding-bottom: 45px;

    @media (min-width:toEm($mobileSmall)) {
      padding-bottom: 97px;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 100%;
      @include adaptiveValue("height", 570, 270);
      background: linear-gradient(180deg, rgba(26, 31, 53, 0) 2%, rgba(26, 31, 53, 0.58) 22%, #f1f1f1 70%);

      @media (min-width:toEm($mobileSmall)) {
        background: linear-gradient(180deg, rgba(26, 31, 53, 0) 19%, rgba(26, 31, 53, 0.58) 22%, #f1f1f1 70%);
      }
    }
  }
}

.list-hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 63px;
  padding: 18px 0 20px;

  @media (min-width:toEm($mobileSmall)) {
    padding: 23px 0 25px;
    height: auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);

    @media (min-width:toEm($mobileSmall)) {
      width: calc(100% - 70px);
    }
  }

  // .list-hero__item
  &__item {
    display: flex;
    align-items: center;
    gap: 10px;



    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    // justify-content: center;
    opacity: 0;


    @media (min-width:toEm($mobile)) {
      gap: 10px;
      position: relative;
      justify-content: unset;
      flex: 1;
      transform: unset;
      left: unset;
      opacity: 1;
    }

    @media (max-width:toEm($mobile)) {
      max-width: max-content;
    }

    &:nth-child(1) {
      opacity: 1;

      @media (min-width:toEm($mobile)) {
        padding-right: 10px;
      }
    }

    &:nth-child(2) {
      @media (min-width:toEm($mobile)) {
        justify-content: center;
        padding-inline: 10px;
      }
    }

    &:nth-child(3) {
      @media (min-width:toEm($mobile)) {
        padding-left: 10px;
        justify-content: flex-end;
      }
    }

    &:not(:last-child) {
      &::after {
        @media (min-width:toEm($mobile)) {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          width: 1px;
          height: calc(100% - 14px);
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  // .list-hero__icon
  &__icon {
    height: 25px;

    @media (min-width:toEm($mobileSmall)) {
      height: 44px;
    }

    img,
    video {
      height: 100%;
      width: auto;
      // @extend %ibg;
      // object-fit: contain;
    }
  }

  // .list-hero__txt
  &__txt {
    color: var(--white);
    font-weight: 300;
    font-size: 14px;

    @media (min-width:toEm($mobileSmall)) {
      font-size: 16px;
    }
  }
}

.portfolio {

  // .portfolio__list
  &__list {
    columns: 5;
    column-gap: 10px;

    position: relative;
    @include adaptiveValue("width", 1742, 971);
    left: 50%;
    transform: translate(-50%, 0);
  }

  // .portfolio__item
  &__item {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
    overflow: hidden;
    border-radius: 15px;

    img {
      @extend %ibg;
      border-radius: 15px;
    }
  }
}

@keyframes circle-hero {
  to {
    transform: rotate(360deg);
  }
}


.video-hero {
  position: relative;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: var(--white-acc);
    z-index: -1;
  }

  // .video-hero__container
  &__container {
    max-width: 1360px;
  }

  // .video-hero__video
  &__video {
    position: relative;
    margin-top: -50%;
    // transform: translate(0,-50%);
    @include adaptiveValue("border-radius", 53, 15);
    overflow: hidden;
    aspect-ratio: 343/200;

    @media (min-width:toEm($mobileSmall)) {
      margin-top: -30%;
      aspect-ratio: 1280/720;
    }

    video {
      position: relative;
      z-index: 2;
      @extend %ibg;
      object-fit: cover;
      @include adaptiveValue("border-radius", 53, 15);

      aspect-ratio: 343/200;

      @media (min-width:toEm($mobileSmall)) {
        aspect-ratio: 1280/720;
      }
    }
  }

  // .video-hero__play
  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 80px;
    height: 80px;

    transition: opacity .3s ease;

    @media (min-width:toEm($mobileSmall)) {
      width: 100px;
      height: 100px;
    }

    .playBut {
      cursor: pointer;
      display: block;

      width: 100%;
      height: 100%;

      .circle {
        stroke-dasharray: 251.2;
        stroke-dashoffset: 251.2;
        transition: stroke-dashoffset 1s ease, stroke 0.3s ease, opacity .3s ease;
        opacity: 0;
      }

      .triangle {
        stroke: #fff;
        fill: none;
        stroke-dasharray: 80;
        stroke-dashoffset: 0;
      }

    }


    @media (any-hover: hover) {
      &:hover {
        .circle {
          stroke-dashoffset: 0;
          opacity: 1;
        }

        .triangle {
          animation: triangleDraw 0.8s ease forwards;
          transform-origin: center;
        }
      }
    }

  }

  // .video-hero__poster
  &__poster {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }
}


@keyframes triangleDraw {
  0% {
    stroke-dashoffset: 0;
    stroke: #fff;
    transform: translateX(0);
  }

  26% {
    transform: translateX(-4px);
  }

  40% {
    stroke: #fff;
  }

  60% {
    transform: translateX(3px);
  }

  60% {
    stroke: var(--primary);
  }

  80% {
    transform: translateX(-2px);
  }

  100% {
    stroke-dashoffset: -160;
    stroke: var(--primary);
    transform: translateX(0);
  }
}



%top-pdd {
  @include adaptiveValue("padding-top", 116, 75);
  @include adaptiveValue("margin-top", -50, -30);
}
%bottom-pdd {
  @include adaptiveValue("padding-bottom", 150, 70);
}
%bottom-mrg {
  @include adaptiveValue("margin-bottom", 150, 70);
}


// %border-radius {
//   overflow: hidden;
//   @include adaptiveValue("border-bottom-left-radius", 50, 30);
//   @include adaptiveValue("border-bottom-right-radius", 50, 30);
// }
// @include adaptiveValue("margin-bottom", -50, -30);
// @include adaptiveValue("margin-top", -50, -30);

.products {
  background-color: var(--white-acc);
  position: relative;
  z-index: 2;
  // @extend %border-radius;

  padding-top: 40px;
  padding-bottom: 50px;


  @media (min-width:toEm($tablet)) {
    padding-top: 90px;
    padding-bottom: 70px;
  }

  // .products__container
  &__container {
    max-width: 1360px;
    margin-bottom: 40px;

    @media (min-width:toEm($tablet)) {
      margin-bottom: 110px;
    }
  }


  // .products__body
  &__body {
    position: relative;
    display: grid;
    text-wrap: balance;
    line-height: 1.2;

    &::before {
      content: '';
      position: absolute;
      background-image: url("@img/bag.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      @include adaptiveValue("width", 440, 194);
      aspect-ratio: 440/520;
      z-index: -1;

      top: 50%;
      right: 0;
      transform: translate(45%, 25%);

      @media (min-width:toEm($tablet)) {
        top: 50%;
        left: 0;
        right: auto;
        transform: translate(-40%, -10%);
      }
    }

    @media (min-width:toEm($tablet)) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width:toEm($mobileSmall)) {}

    @media (max-width:toEm($tablet)) {
      padding-left: 11px;
    }
  }

  // .products__title
  &__title {
    font-size: 12px;
    margin-bottom: 10px;

    @media (min-width:toEm($tablet)) {
      margin-left: 46px;
    }

    @media (min-width:toEm($mobileSmall)) {
      font-size: 20px;
    }

    @media (max-width:toEm($tablet)) {
      text-transform: uppercase;
      opacity: 0.19;
    }
  }

  // .products__texts
  &__texts {}

  // .products__subtitle
  &__subtitle {
    font-weight: 700;
    margin-bottom: 24px;

    @media (min-width:toEm($mobileSmall)) {
      margin-bottom: 30px;
    }
  }

  // .products__subtxt
  &__subtxt {
    line-height: 1.5;

    @media (min-width:toEm($mobileSmall)) {
      line-height: 1.7;
    }
  }

  // .products__clients
  &__clients {}

  // .products__img
  &__img {
    height: 36px;
    margin-right: 30px;

    @media (min-width:toEm($mobile)) {
      height: 100%;
      margin-right: 90px;
    }

    img {
      height: 100%;
      width: auto;
    }
  }
}




.trust {
  position: relative;
  background-color: var(--primary);
  color: var(--white);
  @extend %top-pdd;
  overflow: visible;
  @include adaptiveValue("padding-bottom", 100, 75);

  // .trust__container
  &__container {
    position: relative;
  }

  // .trust__body
  &__body {
    position: relative;
    z-index: 1;
    padding-left: 11px;

    @media (min-width:toEm($mobile)) {
      padding-left: 0;
    }
  }

  // .trust__title
  &__title {
    line-height: 1.2;
    margin-bottom: 26px;

    @media (min-width:toEm($mobileSmall)) {
      font-weight: 300;
      margin-bottom: 47px;
    }

    span {
      font-weight: 700;
    }
  }

  // .trust__counters
  &__counters {}

  // .trust__img
  &__img {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 100%;
    transform: translate(22%, -57%) rotate(23deg);
    @include adaptiveValue("width", 793, 320);

    @media (min-width:toEm($mobile)) {
      right: 0;
      top: 0;
      transform: translate(21%, -35%) rotate(0deg);
    }

    img {
      aspect-ratio: 793/901;
    }
  }

}


.counters-trust {
  display: flex;
  flex-direction: column;

  @media (min-width:toEm($mobile)) {
    flex-direction: row;
  }

  gap: 20px 70px;

  // .counters-trust__item
  &__item {
    font-size: 12px;

    @media (min-width:toEm($mobileSmall)) {
      font-size: 16px;
    }
  }

  // .counters-trust__num
  &__num {
    font-weight: 600;
    @include adaptiveValue("font-size", 74, 48);
  }
}

%mb150-50 {
  margin-bottom: 50px;
  @media (min-width:toEm($mobile)){
     margin-bottom: 140px; 
  }
}

.solutions {
  background-color: var(--white-acc);
  @extend %top-pdd;
  @extend %bottom-pdd;
  // .solutions__container
  &__container {}
  
  // .solutions__title
  &__title {
    margin-left: 11px;
    margin-bottom: 40px;
    @media (min-width:toEm($mobileSmall)){
       margin-left:  20px; 
    }
  }
  
  // .solutions__list
  &__list {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    gap: 12px;
    @extend %mb150-50;
    @media (min-width:toEm($mobileSmall)){
      gap: 24px 27px;
    }
    &:after {
      @extend %circle;
        z-index: -1;
        top: 0px;
        right: 0;
        width: 190px;
        translate: 31% -38%;
        @media (min-width:toEm($mobileSmall)){
           width: 290px; 
        }
    }
  }
  
  // .solutions__item
  &__item {
  }
  
  // .solutions__banner
	&__banner {
    @extend %mb150-50;
	}
  // .solutions__gallery
  &__gallery {
    @extend %mb150-50;
  }
  // .solutions__team
  &__team {
    @extend %mb150-50;
	}
  // .solutions__presentation
	&__presentation {
	}
}


.item-solutions {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: var(--white);
  padding: 28px;
  transition: box-shadow .45s ease;
  @media (any-hover: hover){
    &:hover{
      cursor: pointer;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    }
  }
  @media (min-width:toEm($mobile)){
    padding: 36px 34px 36px 28px; 
  }
  // .item-solutions__title
  &__title {
    span {
      font-weight: 700;
    }
  }
  
  // .item-solutions__arr
  &__arr {
      padding-block: 12px;
      display: flex;
      align-items: center;
      flex: 1;
      font-size: 10px;
      @media (min-width:toEm($mobileSmall)){
        font-size: 12px; 
        padding-block: 40px;
      }
		}
    
		// .item-solutions__txt
		&__txt {
      text-wrap: balance;
      color: var(--gray);
      line-height: 1.3;
		}
}

@keyframes pulseLight2 {
	0%, 100% {
		transform: scale(1);
		filter: brightness(1);
	}
	50% {
		transform: scale(0.8);
		filter: brightness(1.5);
	}
}



.banner {
  display: flex;
  flex-direction: column;
  gap: 18px;
  
  background-color: var(--primary);
  border-radius: 15px;
  padding: 34px 28px;
  @media (min-width:toEm($mobile)){
    align-items: center;
    flex-direction: row;
    padding: 49px 59px 40px 50px;
  }
		// .banner__block
		&__block {
		}

		// .banner__title
		&__title {
      color: var(--white);
      font-weight: 300;
      b {
        font-weight: 700;
      }
      @media (min-width:toEm($mobile)){
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        gap: 15px 35px;
      }
		}

		// .banner__img
		&__img {
      position: relative;
      display: inline-block;
      grid-row: 1/3;
      grid-column: 1/2;
      border-radius: 50%;
      border: 1px solid var(--white-acc);
      aspect-ratio: 1;
      flex: 0 0 auto;
      width: 27px;
      margin-right: 10px;
      vertical-align: text-bottom;
      &::after {
        content:'';
        position: absolute;
        z-index: 1;
        // bottom: calc(71px / 2);
        // right: calc(71px / 2);
        bottom: 0;
        right: 5%;
        width: 5px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--green);
        animation: pulseLight2 2s ease-in-out infinite;
        @media (min-width:toEm($mobile)){
          width: 13px;
        }
        @media (max-width: toEm($mobile)) and (min-width:toEm($mobileSmall)){
         width: 9px; 
        }
      }
      @media (min-width:toEm($mobile)){
        margin-right: auto;
         border-width: 3px;
         width: 71px; 
      }
      @media (max-width: toEm($mobile)) and (min-width:toEm($mobileSmall)){
         width: 40px; 
      }
      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
      }
		}

		// .banner__txt
		&__txt {
      line-height: 1.1;
		}

		// .banner__subtxt
		&__subtxt {
      display: block;
      @media (min-width:toEm($mobile)){
         grid-column: 2/3; 
      }
		}

		// .banner__contacts
		&__contacts {
      display: flex;
      flex-direction: column;
      gap: 17px 40px;
      @media (min-width: toEm(1024.98)){
        flex-direction: row;
        align-items: center;
      }
		}
    
		// .banner__social
		&__social {
      display: flex;
      align-items: center;
      gap: 10px;
      @media (min-width:toEm($mobileSmall)){
        gap: 20px; 
      }
		}

		// .banner__link
		&__link {
      display: grid;
      place-items: center;
      width: 40px;
      aspect-ratio: 1;
      flex: 0 0 40px;
      @media (min-width:toEm($mobileSmall)){
        width: 46px;
        aspect-ratio: 1;
        flex: 0 0 46px;
      }
      img {
        transition: transform .3s ease;
      }
      @media (any-hover: hover){
        &:hover{
          img {
            transform: translateY(-5px);
          }
        }
      }
    }

		// .banner__btn
		&__btn {
      min-width: 200px;
      @media (min-width:toEm($mobileSmall)){
        min-width: 250px;
      }
		}
}

.team-solutions {
    display: grid;
    row-gap: 20px;
    align-items: center;
    text-wrap: balance;
    @media (min-width:toEm($mobile)){
      max-width: 1130px;
      margin-inline: auto;
      grid-template-columns: 1fr 1fr;
    }
		// .team-solutions__title
		&__title {
      padding-inline: 11px;
      @media (min-width:toEm($mobile)){
        grid-column: 2/3;
        grid-row: 1/2; 
        padding-inline: 0;
      }
		}

		// .team-solutions__img
		&__img {
      img {
        @include adaptiveValue("width", 95, 66);
        height: auto;
      }
		}

		// .team-solutions__video
		&__video {
      video {
        @extend %ibg;
        aspect-ratio: 487/480;
        border-radius: 15px;
      }
      @media (min-width:toEm($mobile)){
        padding-right: 77px;
         grid-column: 1/2;
         grid-row: 1/3; 
      }
		}

		// .team-solutions__txt
		&__txt {
      padding-inline: 11px;
      p {
        &:not(:last-child) {
          margin-bottom: 18px;
          @media (min-width:toEm($mobile)){
             margin-bottom: 26px; 
          }
        }
      }
      @media (min-width:toEm($mobile)){
        padding-inline: 0;
         grid-column: 2/3;
         grid-row: 2/3; 
      }
		}
}


.presentation-solutions {
		// .presentation-solutions__txt
		&__txt {
      text-align: center;
      margin-bottom: 28px;
      @media (min-width:toEm($mobileSmall)){
         margin-bottom: 38px; 
      }
		}

		// .presentation-solutions__pdf
		&__pdf {
      max-width: max-content;
      margin-inline: auto;
		}

		// .presentation-solutions__btn
		&__btn {
      background-color: var(--primary);
		}
}


.process {
  @extend %top-pdd;
  @extend %bottom-pdd;
  color: var(--white);
  background-color: var(--primary);
		// .process__container
		&__container {
		}

		// .process__title
		&__title {
      margin-bottom: 36px;
      padding-left: 11px;
      @media (min-width:toEm($mobile)){
        padding-left: 20px;
        margin-bottom: 55px; 
      }
		}

		// .process__spollers
		&__spollers {
		}
}

%arrow-before {
   &.--spoller-active {
        &::before {
          transform: rotate(180deg);
        }
      }
      &::before {
        order: 2;
        font-weight: 700;
        font-size: 16px;
        transition: transform .45s ease;
        transform-origin: 50% 60%;
        translate: 0 -2px;
        margin-left:  10px;
        @media (min-width:toEm(600.98)){
           font-size: 21px; 
        }
      }
}

.spollers-process {
		// .spollers-process__item
		&__item {
      border-top: 1px solid rgb(255, 255, 255, 0.1);
      padding-block: 15px;
      padding-inline: 11px;
      @media (min-width:toEm(600.98)){
        padding-inline: 20px;
      }
		}

		// .spollers-process__summary
		&__summary {
      display: flex;
      align-items: center;
      cursor: pointer;
      min-height: 50px;
      @extend %arrow-before;
      // &.--spoller-active {
      //   &::before {
      //     transform: rotate(180deg);
      //   }
      // }
      // &::before {
      //   order: 2;
      //   font-weight: 700;
      //   font-size: 16px;
      //   transition: transform .45s ease;
      //   transform-origin: 50% 60%;
      //   translate: 0 -2px;
      //   margin-left:  10px;
      //   @media (min-width:toEm(600.98)){
      //      font-size: 21px; 
      //   }
      // }
      span {
        display: inline-block;
      }
      @media (min-width:toEm(600.98)){
         min-height: 56px; 
      }
		}

		// .spollers-process__num
		&__num {
      width: 46px;
      order: 0;
      font-weight: 300;
      @media (min-width:toEm(600.98)){
         width: 114px; 
      }
		}

		// .spollers-process__title
		&__title {
      order: 1;
      flex: 1;
      font-weight: 700;
		}

		// .spollers-process__body
		&__body {
		}

		// .spollers-process__content
		&__content {
      padding-top: 4px;
      margin-left:  0px;
      @media (min-width:toEm(600.98)){
        display: grid;
        align-items: center;
        grid-template-columns: 55% 1fr;
         padding-top: 18px; 
         margin-left:  114px;
      }
		}

		// .spollers-process__info
		&__info {
		}

		// .spollers-process__media
		&__media {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: auto;
        max-width: 190px;
        aspect-ratio: 1;
        @media (min-width:toEm(600.98)){
          max-width: 150px;
        }
      }
		}
}


.guarantee {
  @extend %top-pdd;
  @extend %bottom-pdd;
  background-color: var(--white-acc);
		// .guarantee__container
		&__container {
      max-width: 1264px;
		}

		// .guarantee__title
		&__title {
      margin-bottom: 28px;
       padding-left: 11px;
      @media (min-width:toEm($mobile)){
        padding-left: 20px;
      }
		}

		// .guarantee__body
		&__body {
      @extend %mb150-50;
      @media (min-width:toEm($mobile)){
        display: grid;
        grid-template-columns: 1fr 54%;
      }
		}

		// .guarantee__video
		&__video {
      margin-bottom: 30px;
      @media (min-width:toEm($mobile)){
        margin-left: -68px;
        padding-right: 68px;
        padding-top: 16px;
        margin-bottom: 0;
      }
      @media (max-width:toEm($mobile)) and (min-width: toEm($mobileSmall)) {
          max-width: 480px;
          margin-inline: auto;
      }
      video, img {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
      }
		}

		// .guarantee__spollers
		&__spollers {
		}
    
    // .guarantee__cost
		&__cost {
		}
}

.spollers-guarantee {
		// .spollers-guarantee__item
		&__item {
      background-color: var(--white);
      border-radius: 15px;
      padding: 27px;
      @media (min-width:toEm($mobile)){
         padding: 32px 40px 30px; 
      }
      &:not(:last-child) {
        margin-bottom: 12px;
        @media (min-width:toEm($mobile)){
          margin-bottom: 20px;
        }
      }
		}

		// .spollers-guarantee__summary
		&__summary {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-weight: 700;
      line-height: 1.5;
      span {
        order: 1;
        flex: 1;
      }
        @extend %arrow-before;
		}

		// .spollers-guarantee__body
		&__body {
		}

		// .spollers-guarantee__content
		&__content {
      padding-top: 13px;
      color: var(--gray);
      text-wrap: balance;
		}
}




.cost-guarantee {
		// .cost-guarantee__head
		&__head {
      padding-inline: 11px;
      margin-bottom: 38px;
      @media (min-width:toEm(600.98)){
        max-width: 65%;
        margin-bottom: 44px;
        padding-inline: 20px;
      }
    }

		// .cost-guarantee__title
		&__title {
      margin-bottom: 28px;
      @media (min-width:toEm($mobileSmall)){
         margin-bottom: 20px; 
      }
		}

		// .cost-guarantee__subtitle
		&__subtitle {
      text-wrap: balance;
      @media (min-width:toEm($mobileSmall)){
         text-wrap: auto; 
      }
		}

		// .cost-guarantee__slider
		&__slider {
      overflow: visible;
		}

		// .cost-guarantee__wrapper
		&__wrapper {
		}

		// .cost-guarantee__slide
		&__slide {
		}

    // .cost-guarantee__body
    &__body {
      cursor: pointer;
      padding: 27px;
      background-color: var(--white);
      border-radius: 15px;

      display: flex;
      flex-direction: column;
      height: 100%;

      @media (min-width:toEm($mobileSmall)){
         padding: 32px 28px; 
      }
    }

		// .cost-guarantee__head-slide
		&__head-slide {
      margin-bottom: 18px;
      @media (min-width:toEm($mobileSmall)){
         margin-bottom: 20px; 
      }
		}

		// .cost-guarantee__title-slide
		&__title-slide {
      font-weight: 700;
      margin-bottom: 9px;
		}

		// .cost-guarantee__subtitle-slide
		&__subtitle-slide {
      line-height: 1.2;
      margin-bottom: 20px;
      color: var(--primary);
      @media (min-width:toEm($mobile)){
         margin-bottom: 39px; 
      }
		}


		// .cost-guarantee__price
		&__price {
      font-weight: 700;
      color: var(--gray-light);
      p {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 32px;
          // @media (min-width:toEm($mobileSmall)){
          //     margin-right: 38px;  
          // }
        }
      }
		}

		// .cost-guarantee__list
		&__list {
      flex: 1;
      margin-bottom: 20px;
		}

		// .cost-guarantee__item
		&__item {
      display: flex;
      align-items: center;
      &::before {
        content:'';
        align-self: flex-start;
        position: relative;
        width: 9px;
        height: 9px;
        aspect-ratio: 1;
        display: inline-block;
        margin-right: 9px;
        border-radius: 50%;
        background-color: var(--green);
        margin-top: 5px;
        @media (min-width:toEm($mobileSmall)){
          width: 12px;
          height: 12px;
          margin-right: 12px;
          margin-top: 6px;
        }
      }
      p {
        display: inline-block;
        color: var(--gray);
      }
		}

		// .cost-guarantee__link
		&__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1.4;
      color: var(--primary);
      span {
        order: 1;
        display: inline-block;
        max-width: 60%;
        text-decoration: underline;
        text-underline-offset: 3px;
      }
      &::before {
        order: 2;
        transition: transform .3s ease;
      }
      @media (any-hover: hover){
        &:hover{
          &::before {
            transform: translateX(5px);
          }
        }
      }
		}
}


.fill-form {
  @extend %top-pdd;
  // @extend %bottom-pdd;
  background-color: var(--primary);
		// .fill-form__container
		&__container {
		}

		// .fill-form__body
		&__body {
      @media (min-width:toEm(820.98)){
        display: flex;
        justify-content: space-between;
      }
		}

		// .fill-form__content
		&__content {
      padding-bottom: 25px;
      @media (min-width:toEm($mobile)){
        max-width: 780px;
      }
		}
    
		// .fill-form__title
		&__title {
      color: var(--white);
      line-height: 1.2;
      text-wrap: balance;
      font-weight: 700;
      text-align: center;
      margin-bottom: 10px;
      @media (min-width: toEm(600.98)){
        margin-bottom: 0px;
          text-align: left;
      }
		}
    
		// .fill-form__txt
		&__txt {
      color: var(--white);
      line-height: 1.2;
      text-wrap: balance;
      text-align: center;
      @media (min-width: toEm(600.98)){
          text-align: left;
      }
		}
    
		// .fill-form__cta
		&__cta {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 9px;
      margin-top: 25px;
      @media (min-width:toEm(600.98)){
        gap: 30px; 
        flex-direction: row;
        margin-top: 30px;
      }
    }

		// .fill-form__btn
		&__btn {
      min-width: 227px;
      @media (min-width:toEm($mobileSmall)){
         min-width: 284px; 
      }
    }
    
		// .fill-form__cta-t
		&__cta-t {
      color: var(--white);
		}

		// .fill-form__images
		&__images {
      position: relative;
      z-index: 2;
      @include adaptiveValue("width", 243, 150);
      margin-inline: 32%;
      &::before {
        @extend %circle;
        z-index: -1;
        width: 160%;
        left: 50%;
        top: 50%;
        translate: -54% -20%;
        filter: invert(100%) sepia(2%) saturate(721%) hue-rotate(269deg) brightness(115%) contrast(100%);
        @media (min-width:toEm($mobileSmall)){
           display: none; 
        }
      }
      @media (min-width:toEm(820.98)){
        margin-inline: 0;
      }
    
      img {
        @extend %ibg;
        object-fit: contain;
        aspect-ratio: 243/362;
      }
		}
}


.faq {
  @extend %top-pdd;
  @extend %bottom-pdd;
  background-color: var(--white-acc);
		// .faq__container
		&__container {
		}
    // .faq__title
    &__title {
      margin-bottom: 37px;
      padding-inline: 11px;
      @media (min-width:toEm($mobileSmall)){
         margin-bottom: 49px; 
         padding-inline: 20px;
      }
    }
    
    // .faq__spollers
    &__spollers {
      @extend %bottom-mrg;
      .spollers-guarantee__item {}
      
      .spollers-guarantee__summary {}
      
      .spollers-guarantee__body {}
      
      .spollers-guarantee__content {
        @media (min-width:toEm($mobile)){
          max-width: 780.98px;
        }
      }
    }
    // .faq__reviews
    &__reviews {
    }
}

.reviews {
		// .reviews__slider
		&__slider {
      overflow: visible;
		}

		// .reviews__wrapper
		&__wrapper {
		}

		// .reviews__slide
		&__slide {
		}
}

.slide-reviews {
		// .slide-reviews__body
		&__body {
      cursor: pointer;
      user-select: none;

      background-color: var(--white);
      border-radius: 15px;
      padding: 36px 27px;
      display: flex;
      flex-direction: column;
      height: 100%;
      @media (min-width:toEm($mobileSmall)){
        padding: 55px 60px 60px;
         border-radius: 18px; 
      }
		}

		// .slide-reviews__head
		&__head {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px 20px;
      margin-bottom: 35px;
      @media (min-width:toEm($mobileSmall)){
        flex-direction: row;
        align-items:normal;
      }
		}

		// .slide-reviews__ic
		&__ic {
      max-height: 36px;
      @media (min-width:toEm($mobileSmall)){
        max-height: 46px; 
      }
      img {
        height: 100%;
        width: auto;
      }
		}

		// .slide-reviews__info
		&__info {
		}

		// .slide-reviews__name
		&__name {
      font-weight: 700;
		}

		// .slide-reviews__position
		&__position {
      color: #909090;
		}

		// .slide-reviews__txt
		&__txt {
      line-height: 1.5;
      p {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
		}
}


