<script type="module" src="@components/pages/index/index.js"></script>
<link rel="stylesheet" href="@components/pages/index/index.scss">

<main class="page page--index">
	<section class="hero">
		<div class="hero__top">
			<div class="hero__container">
				<h1 class="hero__title title-hero">Дизайн паковання для fmcg-брендів</h1>
				<div class="hero__subtitle">
					<p>Ми стежимо за тенденціями ринку, створюємо
						емоцію, робимо бренд більш релевантним,
						а упаковку - більш ефективною</p>
				</div>
				<ul class="hero__list list-hero">
					<li class="list-hero__item">
						<div class="list-hero__icon">
							<img src="@img/icons/icon-1.png" width="44" height="44" alt="Image">
						</div>
						<div class="list-hero__txt">
							<p>Нас хвилює, як працює дизайн</p>
						</div>
					</li>
					<li class="list-hero__item">
						<div class="list-hero__icon">
							<img src="@img/icons/icon-2.png" width="44" height="44" alt="Image">
						</div>
						<div class="list-hero__txt">
							<p>Попереджаємо про ризики</p>
						</div>
					</li>
					<li class="list-hero__item">
						<div class="list-hero__icon">
							<img src="@img/icons/icon-3.png" width="44" height="44" alt="Image">
						</div>
						<div class="list-hero__txt">
							<p>Ми з вами до полиці у магазині</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="hero__portfolio">
			<div class="portfolio">
				<div class="portfolio__list">
					<div class="portfolio__item">
						<img src="@img/grid/grid-1.jpg" width="337" height="244" alt="Image">
					</div>
					<div class="portfolio__item">
						<img src="@img/grid/grid-2.jpg" width="337" height="244" alt="Image">
					</div>
					<div class="portfolio__item">
						<img src="@img/grid/grid-3.jpg" width="337" height="244" alt="Image">
					</div>
					<div class="portfolio__item">
						<img src="@img/grid/grid-4.jpg" width="337" height="244" alt="Image">
					</div>
					<div class="portfolio__item">
						<img src="@img/grid/grid-5.jpg" width="337" height="244" alt="Image">
					</div>
					<div class="portfolio__item">
						<img src="@img/grid/grid-6.jpg" width="337" height="244" alt="Image">
					</div>
					<div class="portfolio__item">
						<img src="@img/grid/grid-7.jpg" width="337" height="244" alt="Image">
					</div>
					<div class="portfolio__item">
						<img src="@img/grid/grid-8.jpg" width="337" height="244" alt="Image">
					</div>
					<div class="portfolio__item">
						<img src="@img/grid/grid-9.jpg" width="337" height="244" alt="Image">
					</div>
					<div class="portfolio__item">
						<img src="@img/grid/grid-10.jpg" width="337" height="244" alt="Image">
					</div>
					<div class="portfolio__item">
						<img src="@img/grid/grid-11.jpg" width="337" height="244" alt="Image">
					</div>
					<div class="portfolio__item">
						<img src="@img/grid/grid-12.jpg" width="337" height="244" alt="Image">
					</div>
					<div class="portfolio__item">
						<img src="@img/grid/grid-13.jpg" width="337" height="244" alt="Image">
					</div>
					<div class="portfolio__item">
						<img src="@img/grid/grid-14.jpg" width="337" height="244" alt="Image">
					</div>
					<div class="portfolio__item">
						<img src="@img/grid/grid-15.jpg" width="337" height="244" alt="Image">
					</div>
				</div>
			</div>
		</div>
		<div class="hero__video video-hero">
			<div class="video-hero__container">
				<div class="video-hero__video">
					<button type="button" class="video-hero__play" aria-label="play">
						<svg class="playBut" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
							<polygon class="triangle" fill="none" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="39.65 65.38 39.65 34.62 64.32 50 39.65 65.38">
							</polygon>
							<circle class="circle_wh" fill="none" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="50" cy="50" r="40">
							</circle>
							<circle class="circle" fill="none" stroke="#1A1F35" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="50" cy="50" r="40">
							</circle>
						</svg>
					</button>
					<video muted loop playsinline>
						<source src="@files/posh-showreel-2-optimize-pc.mp4" type="video/mp4" media="(min-width: 30.061em)">
						<source src="@files/posh-showreel-2-optimize-mb.mp4" type="video/mp4">
					</video>
					<img class="video-hero__poster ibg" src="@img/poster-pc.png" width="1440" height="800" alt="image">
				</div>
			</div>
		</div>
	</section>
	<section class="products br-r">
		<div class="products__container">
			<div class="products__body">
				<h2 class="products__title">Ми розуміємо бізнес,<br>
					а не тільки дизайн.
				</h2>
				<div class="products__texts">
					<div class="products__subtitle t-1">
						<p>Понад 12 років допомагаємо FMCG-компаніям запускати та підсилювати продукти за допомогою стратегічно продуманого паковання</p>
					</div>
					<div class="products__subtxt t-2">
						<p>Для нас це не креатив заради креативу. Ми вибудовуємо логіку позиціонування, спираючись на поведінку споживача, вимоги ритейлу та завдання маркетингу. У кожному проєкті глибоко занурюємось
							у суть, формуємо команду відповідних фахівців і ведемо
							процес від ідеї до фінального друку.</p>
					</div>
				</div>
			</div>
		</div>
		<div data-fls-marquee data-fls-marquee-speed="300" class="products__clients">
			<div class="products__img">
				<img src="@img/clients/clients-1.svg" width="125" height="100" alt="Image">
			</div>
			<div class="products__img">
				<img src="@img/clients/clients-2.svg" width="125" height="100" alt="Image">
			</div>
			<div class="products__img">
				<img src="@img/clients/clients-3.svg" width="125" height="100" alt="Image">
			</div>
			<div class="products__img">
				<img src="@img/clients/clients-4.svg" width="125" height="100" alt="Image">
			</div>
			<div class="products__img">
				<img src="@img/clients/clients-5.svg" width="125" height="100" alt="Image">
			</div>
		</div>
	</section>
	<section data-gsap="trust" data-gsap-end="40%" class="trust br-r">
		<div class="trust__container">
			<div class="trust__body">
				<h2 class="trust__title t-1">
					<span>Нам довіряють ті</span>, хто<br>
					розуміє ціну помилки<br>
					на полиці
				</h2>
				<ul data-fls-watcher data-fls-watcher-once class="trust__counters counters-trust">
					<li class="counters-trust__item">
						<div class="counters-trust__num">
							<span data-fls-digcounter data-fls-digcounter-speed="1000">12</span>+
						</div>
						<p>років В FMCG</p>
					</li>
					<li class="counters-trust__item">
						<div class="counters-trust__num">
							<span data-fls-digcounter data-fls-digcounter-speed="1300">500</span>+
						</div>
						<p>реалізованих проєктів</p>
					</li>
					<li class="counters-trust__item">
						<div class="counters-trust__num">
							<span data-fls-digcounter data-fls-digcounter-speed="1600">100</span>+
						</div>
						<p>постійних клієнтів</p>
					</li>
				</ul>
			</div>
			<div class="trust__img">
				<img src="@img/trust-hand.png" width="793" height="901" alt="Image">
			</div>
		</div>
	</section>
	<section class="solutions br-r">
		<div class="solutions__container">
			<h2 class="solutions__title t-3">Рішення</h2>
			<ul class="solutions__list">
				<li class="solutions__item item-solutions">
					<div class="item-solutions__title t-4">
						<p><span>Пропущені дедлайни</span> запуск зривається повністю?</p>
					</div>
					<span class="item-solutions__arr --icon-arrowrightd"></span>
					<div class="item-solutions__txt t-5">
						<p>У нас кожен етап чітко прописано та зафіксований. Процеси контрольовані та передбачувані. Ви отримуєте результат у обумовлені терміни.</p>
					</div>
				</li>
				<li class="solutions__item item-solutions">
					<div class="item-solutions__title t-4">
						<p><span>Дизайн зосереджений на «красі»,</span> а не на продажах?</p>
					</div>
					<span class="item-solutions__arr --icon-arrowrightd"></span>
					<div class="item-solutions__txt t-5">
						<p>Ми проектуємо упаковку з урахуванням поведінки покупця, цілей бренду та завдань бізнесу. Важливо, щоб не просто подобалося, а працювало.</p>
					</div>
				</li>
				<li class="solutions__item item-solutions">
					<div class="item-solutions__title t-4">
						<p><span>Без чіткого позиціонування — </span> кожен тягне у свій бік?</p>
					</div>
					<span class="item-solutions__arr --icon-arrowrightd"></span>
					<div class="item-solutions__txt t-5">
						<p>Ми задаємо вектор та емоцію бренду, щоб упаковка відповідала очікуванням споживача. Все логічно, узгоджено та цілісно.</p>
					</div>
				</li>
				<li class="solutions__item item-solutions">
					<div class="item-solutions__title t-4">
						<p><span>Правки без направлення</span>
							ніхто не розуміє,
							як правильно</p>
					</div>
					<span class="item-solutions__arr --icon-arrowrightd"></span>
					<div class="item-solutions__txt t-5">
						<p>Ми включаємося до процесів вашої команди, щоб кожне рішення було обґрунтовано: гіпотезою, логікою та аналізом. Без хаосу лише продумані кроки.</p>
					</div>
				</li>
				<li class="solutions__item item-solutions">
					<div class="item-solutions__title t-4">
						<p><span>На екрані все ідеально.</span> А на друці —
							катастрофа</p>
					</div>
					<span class="item-solutions__arr --icon-arrowrightd"></span>
					<div class="item-solutions__txt t-5">
						<p>Ми підключаємо технічного дизайнера та супроводжуємо проект до реального результату. Фінальний продукт = як у візуалізаціях.</p>
					</div>
				</li>
				<li class="solutions__item item-solutions">
					<div class="item-solutions__title t-4">
						<p><span>Гарно, але не "вау".</span> А має бути "вау"</p>
					</div>
					<span class="item-solutions__arr --icon-arrowrightd"></span>
					<div class="item-solutions__txt t-5">
						<p>"Вау" - це не випадковість, а результат. Ми переймаємося продуктом, знаходимо унікальність, підбираємо правильні смисли та візуальні коди.</p>
					</div>
				</li>
			</ul>
			<div class="solutions__banner banner">
				<div class="banner__block">
					<p class="banner__title"><span class="banner__img"><img src="@img/banner.png" width="65" height="65" alt="Image"></span><span class="banner__txt t-1"><b>Обговоримо</b> вашу
							задачу прямо зараз?</span> <span class="banner__subtxt t-5">Ми швидко запропонуємо рішення!</span></p>
				</div>
				<div class="banner__contacts">
					<div class="banner__social">
						<a href="#" class="banner__link" aria-label="link">
							<img src="@img/icons/tg.svg" width="46" height="46" alt="Image">
						</a>
						<a href="#" class="banner__link" aria-label="link">
							<img src="@img/icons/wts.svg" width="46" height="46" alt="Image">
						</a>
					</div>
					<a href="#" data-fls-btn class="banner__btn btn btn--4" aria-label="link">
						<span class="btn-txt">Залишити заявку</span>
						<span class="btn-arr --icon-arrowrightb"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="solutions__gallery gallery" data-fls-gallerys>
			<div data-fls-marquee data-fls-marquee-pause data-fls-marquee-speed="500" class="gallery__line">
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-1-full.jpg" aria-label="open image">
						<img src="@img/cases/case-1.jpg" alt="case 1" />
					</button>
				</div>
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-2-full.jpg" aria-label="open image">
						<img src="@img/cases/case-2.jpg" alt="case 2" />
					</button>
				</div>
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-3-full.jpg" aria-label="open image">
						<img src="@img/cases/case-3.jpg" alt="case 3" />
					</button>
				</div>
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-4-full.jpg" aria-label="open image">
						<img src="@img/cases/case-4.jpg" alt="case 4" />
					</button>
				</div>
			</div>

			<div data-fls-marquee data-fls-marquee-pause data-fls-marquee-speed="500" data-fls-marquee-direction="right" class="gallery__line">
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-5-full.jpg" aria-label="open image">
						<img src="@img/cases/case-5.jpg" alt="case 5" />
					</button>
				</div>
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-6-full.jpg" aria-label="open image">
						<img src="@img/cases/case-6.jpg" alt="case 6" />
					</button>
				</div>
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-7-full.jpg" aria-label="open image">
						<img src="@img/cases/case-7.jpg" alt="case 7" />
					</button>
				</div>
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-8-full.jpg" aria-label="open image">
						<img src="@img/cases/case-8.jpg" alt="case 8" />
					</button>
				</div>
			</div>

			<div class="gallery__fullscreen" data-gallery-fullscreen data-lenis-prevent aria-hidden="true">
				<div class="gallery__overlay" data-gallery-overlay></div>
				<figure class="gallery__figure">
					<img src="" alt="" class="gallery__image" data-gallery-image />
					<button type="button" class="gallery__close" data-gallery-close aria-label="close">
						<svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="0.5" y="0.5" width="42" height="42" rx="21" stroke="white" />
							<path d="M17.5 17.5L21.5 21.5L17.5 25.5" stroke="white" />
							<path d="M25.5 25.5L21.5 21.5L25.5 17.5" stroke="white" />
						</svg>
					</button>
				</figure>
			</div>
		</div>
		<div class="solutions__container">
			<div class="solutions__team team-solutions">
				<h3 class="team-solutions__title t-6" data-fls-watcher data-fls-watcher-once>
					<b>Команда професіоналів,<br>
						котра залучена</b><br>
					на всі <span class="team-solutions__img"><img src="@img/team.png" width="95" height="38" alt="Image"></span> <span data-fls-digcounter data-fls-digcounter-speed="2000">100</span>%
				</h3>
				<div class="team-solutions__video">
					<video data-fls-videoplay muted autoplay loop playsinline>
						<source src="@files/video-01-optimize.mp4" type="video/mp4">
					</video>
				</div>
				<div class="team-solutions__txt t-5">
					<p>У нашій команді — 15 фахівців, і кожен із них справжній професіонал своєї справи. Разом ми створюємо синергію
						та закриваємо всі ключові завдання проєкту — від глобальної стратегії до ретельної підготовки дизайну до друку.</p>
					<p>
						Спільні цінності, прозорі процеси та постійне прагнення
						до розвитку — те, що нас об'єднує і щодня надихає вдосконалювати продукти, допомагати брендам
						ставати помітнішими та комунікувати голосніше.</p>
				</div>
			</div>
			<div class="solutions__presentation presentation-solutions">
				<div class="presentation-solutions__txt">
					<p class="t-7"><b>Наша презентація</b></p>
					<p class="t-8">Завантажте, щоб не загубити нас</p>
				</div>
				<div class="presentation-solutions__pdf">
					<a href="@files/show-file.pdf" target="_blank" data-fls-btn class="presentation-solutions__btn btn btn--2 --icon-arrowrightc" aria-label="download">
						<span class="btn-txt">Завантажити PDF</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section data-gsap="process" data-gsap-end="20%" class="process br-r">
		<div class="process__container">
			<h2 class="process__title t-3">Процес</h2>
			<div data-fls-spollers class="process__spollers spollers-process">
				<details class="spollers-process__item">
					<summary class="spollers-process__summary --icon-arrowdownb">
						<span class="spollers-process__num t-9">01</span>
						<span class="spollers-process__title t-10">Знайомство</span>
					</summary>
					<div class="spollers-process__body">
						<div class="spollers-process__content">
							<div class="spollers-process__info t-5">
								<p>
									Менеджер приймає ваш запит, збирає вступні дані та допомагає сформулювати завдання. Ми аналізуємо запит, підтверджуємо готовність та формуємо комерційну пропозицію
								</p>
							</div>
							<div class="spollers-process__media">
								<img src="@img/process/spoller-media.png" width="150" height="150" alt="Image">
							</div>
						</div>
					</div>
				</details>
				<details class="spollers-process__item">
					<summary class="spollers-process__summary --icon-arrowdownb">
						<span class="spollers-process__num t-9">02</span>
						<span class="spollers-process__title t-10">
							Позиціювання
						</span>
					</summary>
					<div class="spollers-process__body">
						<div class="spollers-process__content">
							<div class="spollers-process__info t-5">
								<p>
									Вивчаємо та аналізуємо ринок, конкурентів, тренди, споживацькі мотиви та тригери. Формуємо 2-3 гіпотези позиціонування, підбираємо стилістичні референси та пропонуємо стратегію комунікації бренда
								</p>
							</div>
							<div class="spollers-process__media">
								<img src="@img/process/spoller-media.png" width="150" height="150" alt="Image">
							</div>
						</div>
					</div>
				</details>
				<details class="spollers-process__item">
					<summary class="spollers-process__summary --icon-arrowdownb">
						<span class="spollers-process__num t-9">03</span>
						<span class="spollers-process__title t-10">
							Технічне завдання
						</span>
					</summary>
					<div class="spollers-process__body">
						<div class="spollers-process__content">
							<div class="spollers-process__info t-5">
								<p>
									Фіксуємо обрану гіпотезу як стратегічне направлення. Розробляємо детальне технічне завдання, узгоджуємо
									задачі та терміни, передаємо проєкт в роботу
								</p>
							</div>
							<div class="spollers-process__media">
								<img src="@img/process/spoller-media.png" width="150" height="150" alt="Image">
							</div>
						</div>
					</div>
				</details>
				<details class="spollers-process__item">
					<summary class="spollers-process__summary --icon-arrowdownb">
						<span class="spollers-process__num t-9">04</span>
						<span class="spollers-process__title t-10">
							Концепції
						</span>
					</summary>
					<div class="spollers-process__body">
						<div class="spollers-process__content">
							<div class="spollers-process__info t-5">
								<p>
									Пропонуємо мінімум 3 концепцій паковання на прикладі 2-3 форм випуску. Усі концепції враховують технічні можливості виробництва та створюються з прицілом подальший розвиток
								</p>
							</div>
							<div class="spollers-process__media">
								<img src="@img/process/spoller-media.png" width="150" height="150" alt="Image">
							</div>
						</div>
					</div>
				</details>
				<details class="spollers-process__item">
					<summary class="spollers-process__summary --icon-arrowdownb">
						<span class="spollers-process__num t-9">05</span>
						<span class="spollers-process__title t-10">
							Презентація
						</span>
					</summary>
					<div class="spollers-process__body">
						<div class="spollers-process__content">
							<div class="spollers-process__info t-5">
								<p>
									Проводимо презентацію концепцій команді замовника, демонструємо 3D-візуалізації продукту у звичному для нього середовищі, наприклад на полиці супермаркету. Обговорюємо проєкт, збираємо зворотний зв'язок, вносимо ваші побажання
									та зауваження
								</p>
							</div>
							<div class="spollers-process__media">
								<img src="@img/process/spoller-media.png" width="150" height="150" alt="Image">
							</div>
						</div>
					</div>
				</details>
				<details class="spollers-process__item">
					<summary class="spollers-process__summary --icon-arrowdownb">
						<span class="spollers-process__num t-9">06</span>
						<span class="spollers-process__title t-10">
							Розвиток на SKU
						</span>
					</summary>
					<div class="spollers-process__body">
						<div class="spollers-process__content">
							<div class="spollers-process__info t-5">
								<p>
									Розвиваємо затверджену концепцію на інші SKU з огляду
									на особливості кожного. Зберігаємо цілісність бренду
									та концепції. Верстаємо всі сторони, згідно з кроєм,
									вносимо правки та побажання
								</p>
							</div>
							<div class="spollers-process__media">
								<img src="@img/process/spoller-media.png" width="150" height="150" alt="Image">
							</div>
						</div>
					</div>
				</details>
				<details class="spollers-process__item">
					<summary class="spollers-process__summary --icon-arrowdownb">
						<span class="spollers-process__num t-9">07</span>
						<span class="spollers-process__title t-10">
							Підготовка до друку
						</span>
					</summary>
					<div class="spollers-process__body">
						<div class="spollers-process__content">
							<div class="spollers-process__info t-5">
								<p>
									Готуємо макети згідно з вимогами Вашої друкарні. Проводимо кольороподіл та оптимізацію під Pantone. Складаємо ТЗ для типографії. Усі технічні питання від типографії беремо на себе
								</p>
							</div>
							<div class="spollers-process__media">
								<img src="@img/process/spoller-media.png" width="150" height="150" alt="Image">
							</div>
						</div>
					</div>
				</details>
			</div>
		</div>
	</section>
	<section class="guarantee br-r">
		<div class="guarantee__container">
			<h2 class="guarantee__title t-3">Гарантії</h2>
			<div class="guarantee__body">
				<div class="guarantee__video">
					<img loading="lazy" src="@files/anim.gif" width="578" height="578" alt="Image">
				</div>
				<div data-fls-spollers class="guarantee__spollers spollers-guarantee">
					<details class="spollers-guarantee__item">
						<summary class="spollers-guarantee__summary t-10 --icon-arrowdowna">
							<span>Без доплат</span>
						</summary>
						<div class="spollers-guarantee__body">
							<div class="spollers-guarantee__content t-5">
								<p>
									Надаємо прозорий кошторис до початку
									роботи та не вимагаємо додаткових
									оплат понад узгоджену вартість.
								</p>
							</div>
						</div>
					</details>
					<details class="spollers-guarantee__item">
						<summary class="spollers-guarantee__summary t-10 --icon-arrowdowna">
							<span>
								Якість друку
							</span>
						</summary>
						<div class="spollers-guarantee__body">
							<div class="spollers-guarantee__content t-5">
								<p>
									Гарантуємо ідеальний макет і беремо на себе всі технічні питання. Типографія точно зрозуміє наше завдання,
									а ваша участь не знадобиться﻿
								</p>
							</div>
						</div>
					</details>
					<details class="spollers-guarantee__item">
						<summary class="spollers-guarantee__summary t-10 --icon-arrowdowna">
							<span>
								Патентна чистота
							</span>
						</summary>
						<div class="spollers-guarantee__body">
							<div class="spollers-guarantee__content t-5">
								<p>
									Перевіряємо кожен елемент дизайну на предмет авторських прав, щоб виключити будь-які ризики та юридичні порушення﻿
								</p>
							</div>
						</div>
					</details>
					<details class="spollers-guarantee__item">
						<summary class="spollers-guarantee__summary t-10 --icon-arrowdowna">
							<span>
								Відповідність
							</span>
						</summary>
						<div class="spollers-guarantee__body">
							<div class="spollers-guarantee__content t-5">
								<p>
									Ваша упаковка відповідатиме бізнес-цілям, задовольнятиме потреби споживача і точно потрапить в актуальні ринкові тренди﻿
								</p>
							</div>
						</div>
					</details>
				</div>
			</div>
			<div class="guarantee__cost cost-guarantee">
				<div class="cost-guarantee__head">
					<h2 class="cost-guarantee__title t-3">Як ми формуємо
						вартість?</h2>
					<div class="cost-guarantee__subtitle t-5">
						<p>
							Ціна розраховується індивідуально, але завжди логічно та прозоро. На фінальну вартість проекту впливає: наявність чіткого технічного завдання, або існуюча концепція позиціювання бренду; кількість вхідних даних на початку; терміновість;
							кількість SKU в ассортименті, і звичайно ж, перспективність подальшої співпраці.
						</p>
					</div>
				</div>
				<div data-fls-slider class="cost-guarantee__slider swiper">
					<ul class="cost-guarantee__wrapper swiper-wrapper">
						<li class="cost-guarantee__slide swiper-slide">
							<div class="cost-guarantee__body">
								<div class="cost-guarantee__head-slide">
									<div class="cost-guarantee__title-slide t-10">
										<p>
											Розробка<br>
											концепції
										</p>
									</div>
									<div class="cost-guarantee__subtitle-slide t-2">
										<p>
											відповідно до вашого<br>
											технічного завдання:
										</p>
									</div>
									<div class="cost-guarantee__price t-10">
										<p>≈ €2000</p>
										<p>≈ 15 р.д.</p>
									</div>
								</div>
								<ul class="cost-guarantee__list t-5">
									<li class="cost-guarantee__item">
										<p>
											Вивчаємо та обговорюємо завдання
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Уточнюємо деталі й референси
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Пропонуємо додаткові ідеї
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Розробляємо концепції
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Презентуємо та обговорюємо
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Вносимо побажання й коригування
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Узгоджуємо концепцію
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Передаємо концепцію Вам
										</p>
									</li>
								</ul>
								<a href="#" class="cost-guarantee__link --icon-arrowrightd t-2" aria-label="link">
									<span>Як скласти ідеальне технічне завдання?</span>
								</a>
							</div>
						</li>
						<li class="cost-guarantee__slide swiper-slide">
							<div class="cost-guarantee__body">
								<div class="cost-guarantee__head-slide">
									<div class="cost-guarantee__title-slide t-10">
										<p>
											Розробка<br>
											концепції
										</p>
									</div>
									<div class="cost-guarantee__subtitle-slide t-2">
										<p>
											без технічного<br>
											завдання:
										</p>
									</div>
									<div class="cost-guarantee__price t-10">
										<p>≈ €3000</p>
										<p>≈ 22 р.д.</p>
									</div>
								</div>
								<ul class="cost-guarantee__list t-5">
									<li class="cost-guarantee__item">
										<p>
											Вивчаємо продукт і завдання
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Проводимо дослідження ринку
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Формуємо гіпотези
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Пропонуємо позиціювання
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Формулюємо стратегію
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Складаємо технічне завдання
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Розробляємо концепції
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Презентуємо та обговорюємо
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Вносимо побажання й коригування
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Узгоджуємо концепцію
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Передаємо концепцію Вам
										</p>
									</li>
								</ul>
							</div>
						</li>
						<li class="cost-guarantee__slide swiper-slide">
							<div class="cost-guarantee__body">
								<div class="cost-guarantee__head-slide">
									<div class="cost-guarantee__title-slide t-10">
										<p>
											Разробка<br>
											SKU
										</p>
									</div>
									<div class="cost-guarantee__subtitle-slide t-2">
										<p>
											Перший продукт у новій лінійці.<br> У межах затвердженої концепції.
										</p>
									</div>
									<div class="cost-guarantee__price t-10">
										<p>≈ €850</p>
										<p>≈ 7 р.д.</p>
									</div>
								</div>
								<ul class="cost-guarantee__list t-5">
									<li class="cost-guarantee__item">
										<p>
											Збираємо дані
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Формуємо технічне завдання
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Розробляємо 2–3 варіанти
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Візуалізуємо Mock-up
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Презентуємо та обговорюємо
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Розробляємо макет у крої
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Вносимо коригування
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Узгоджуємо макет
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Проводимо підготовку файлів
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Готуємо до друку
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Складаємо інструкцію до друку
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Передаємо робочі файли
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Передаємо 3D-візуалізацію
										</p>
									</li>
								</ul>
							</div>
						</li>
						<li class="cost-guarantee__slide swiper-slide">
							<div class="cost-guarantee__body">
								<div class="cost-guarantee__head-slide">
									<div class="cost-guarantee__title-slide t-10">
										<p>
											Додаткові<br> послуги
										</p>
									</div>
									<div class="cost-guarantee__subtitle-slide t-2">
										<p>
											Технічна і консультаційна<br>
											підтримка бренду
										</p>
									</div>
									<div class="cost-guarantee__price t-10">
										<p></p>
										<p></p>
									</div>
								</div>
								<ul class="cost-guarantee__list t-5">
									<li class="cost-guarantee__item">
										<p>
											Авторський нагляд
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Бренд-аудит
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Неймінг
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Фокус-групи
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											POS матеріали
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Expo матеріали
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Promo сайт
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Sales презентація
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											3D моделювання
										</p>
									</li>
									<li class="cost-guarantee__item">
										<p>
											Разробка форм
										</p>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section data-gsap="fill-form" data-gsap-end="45%" class="fill-form br-r">
		<div class="fill-form__container">
			<div class="fill-form__body">
				<div class="fill-form__content">
					<h2 class="fill-form__title t-7">Почніть проєкт просто зараз.</h2>
					<div class="fill-form__txt t-11">
						<p>
							Розкажіть про свій проєкт
							через нашу зручну форму.
						</p>
					</div>
					<div class="fill-form__cta">
						<a href="#" data-fls-btn class="fill-form__btn btn btn--4" aria-label="link">
							<span class="btn-txt">Заповнити чек-лист</span>
							<span class="btn-arr --icon-arrowrightb"></span>
						</a>
						<div class="fill-form__cta-t t-12">
							<p>Приблизно 7 хвилин вашого часу</p>
						</div>
					</div>
				</div>
				<div class="fill-form__images">
					<img src="@img/fill-form.png" width="243" height="362" alt="Image">
				</div>
			</div>
		</div>
	</section>
	<section class="faq br-r">
		<div class="faq__container">
			<h2 class="faq__title t-3">Поширені запитання</h2>
			<div data-fls-spollers class="faq__spollers spollers-guarantee">
				<details class="spollers-guarantee__item">
					<summary class="spollers-guarantee__summary t-4 --icon-arrowdowna">
						<span>
							Як формується вартість розробки?
						</span>
					</summary>
					<div class="spollers-guarantee__body">
						<div class="spollers-guarantee__content t-5">
							<p>
								Вартість проєкту залежить від обсягу вхідних даних, строків, складності дослідження, кількості концепцій і правок. Простими словами, ми оцінюємо, скільки приблизно робочих годин займе проєкт — чим більше задач і деталей, тим вища
								вартість.
							</p>
						</div>
					</div>
				</details>
				<details class="spollers-guarantee__item">
					<summary class="spollers-guarantee__summary t-4 --icon-arrowdowna">
						<span>
							Чому варто вибрати вашу агенцію?
						</span>
					</summary>
					<div class="spollers-guarantee__body">
						<div class="spollers-guarantee__content t-5">
							<p>
								Якщо вам комфортно з нами працювати і ви впевнені у нашій компетентності, навіщо шукати далі? Ми завжди рекомендуємо обирати агенцію, з якою легко знайти спільну мову, яка розуміє не лише естетичний бік, а й враховує економічні ризики
								та технічні аспекти проєкту.
							</p>
						</div>
					</div>
				</details>
				<details class="spollers-guarantee__item">
					<summary class="spollers-guarantee__summary t-4 --icon-arrowdowna">
						<span>
							Як оцінювати дизайн паковання?
						</span>
					</summary>
					<div class="spollers-guarantee__body">
						<div class="spollers-guarantee__content t-5">
							<p>
								Вартість проєкту залежить від обсягу вхідних даних, строків, складності дослідження, кількості концепцій і правок. Простими словами, ми оцінюємо, скільки приблизно робочих годин займе проєкт — чим більше задач і деталей, тим вища
								вартість.
							</p>
						</div>
					</div>
				</details>
				<details class="spollers-guarantee__item">
					<summary class="spollers-guarantee__summary t-4 --icon-arrowdowna">
						<span>
							Якщо нам не сподобається результат?
						</span>
					</summary>
					<div class="spollers-guarantee__body">
						<div class="spollers-guarantee__content t-5">
							<p>
								Наш процес побудований так, щоб уникнути подібних ситуацій. Перед розробкою спеціаліст кілька разів перевіряє технічне завдання, щоб усунути можливі неточності. Завдяки цьому вже на першому етапі ви отримуєте концепції, придатні для
								подальшої фіналізації.
							</p>
						</div>
					</div>
				</details>
			</div>
			<div class="faq__reviews reviews">
				<h2 class="faq__title t-3">Відгуки</h2>
				<div data-fls-slider class="reviews__slider swiper">
					<div class="reviews__wrapper swiper-wrapper">
						<article class="reviews__slide slide-reviews swiper-slide">
							<div class="slide-reviews__body">
								<div class="slide-reviews__head">
									<div class="slide-reviews__ic">
										<img src="@img/companys/company-1.png" width="107" height="41" alt="Image">
									</div>
									<div class="slide-reviews__info">
										<h3 class="slide-reviews__name t-13">Khurshid Kodirov</h3>
										<p class="slide-reviews__position t-14">Head of Marketing</p>
									</div>
								</div>
								<div class="slide-reviews__txt t-2">
									<p>
										<b>We found synergy with POSH right away. We're still working together: it's always easy, pleasant, and stress-free!</b>
									</p>
									<p>
										My team and I feel like we're in good hands: the managers are always available, explain everything clearly, and keep us updated on the project's progress. They don't just develop beautiful designs — they know their stuff. How the
										shelf works, what is important to a manager in a supermarket chain, how consumers think. This is very useful knowledge that the guys are happy to share.
									</p>
									<p>
										We are confident that even more great results await us in the future! We are grateful to the team for their excellent work and humane attitude!
									</p>
								</div>
							</div>
						</article>
						<article class="reviews__slide slide-reviews swiper-slide">
							<div class="slide-reviews__body">
								<div class="slide-reviews__head">
									<div class="slide-reviews__ic">
										<img src="@img/companys/company-2.png" width="107" height="41" alt="Image">
									</div>
									<div class="slide-reviews__info">
										<h3 class="slide-reviews__name t-13">Анастасія Колєснікова</h3>
										<p class="slide-reviews__position t-14">Провідний спеціаліст з розробки ВТМ</p>
									</div>
								</div>
								<div class="slide-reviews__txt t-2">
									<p>
										<b>Робота над проєктом із POSH перевищила очікування.</b>
									</p>
									<p>
										Ми шукали агентство, яке зможе глобально підійти до нашого складного завдання: зануритися, провести дослідження та головне — аргументувати свої рішення.

									</p>
									<p>
										Отримали це і набагато більше! Системність, актуальне бачення ринку, поради, свіжі ідеї. Команда постійно тримала нас у курсі справ, а менеджмент був на висоті: таймінги, дедлайни, чіткі брифи.

									</p>
									<p>
										Було дуже зручно працювати, без стресу і перевантажень. Складна, на перший погляд, задача перетворилася на роботу в задоволення. Окрема подяка за повагу до часу клієнта!
									</p>
								</div>
							</div>
						</article>
						<article class="reviews__slide slide-reviews swiper-slide">
							<div class="slide-reviews__body">
								<div class="slide-reviews__head">
									<div class="slide-reviews__ic">
										<img src="@img/companys/company-3.png" width="107" height="41" alt="Image">
									</div>
									<div class="slide-reviews__info">
										<h3 class="slide-reviews__name t-13">Юлія Ткаченко </h3>
										<p class="slide-reviews__position t-14">Заступник гедиректора з розвитку та продажів в мережах</p>
									</div>
								</div>
								<div class="slide-reviews__txt t-2">
									<p>
										<b>З POSH завжди якось по-особливому легко і натхненно.</b>
									</p>
									<p>
										Минулого року завдяки розробкам POSH оновили 80% нашого пакування — і це мало гарний результат! Новий дизайн — це не просто «красиво», це про характер, настрій і любов до деталей. У споживача є 3 сек біля полиці на прийняття
										рішення — мені подобається — хочу придбати.
									</p>
									<p>
										З POSH це не тільки пакування — в 2025 році реалізували проєкт сучасний музей компанії Lukas — і знову стиль, увага до деталей, розуміння нашої історії і важливих аспектів.
									</p>
									<p>
										Дякуємо за креатив і справжнє партнерство. З вами хочеться ще! 💛
									</p>
								</div>
							</div>
						</article>
						<article class="reviews__slide slide-reviews swiper-slide">
							<div class="slide-reviews__body">
								<div class="slide-reviews__head">
									<div class="slide-reviews__ic">
										<img src="@img/companys/company-4.png" width="107" height="41" alt="Image">
									</div>
									<div class="slide-reviews__info">
										<h3 class="slide-reviews__name t-13">Odil Ibrahim</h3>
										<p class="slide-reviews__position t-14">CEO</p>
									</div>
								</div>
								<div class="slide-reviews__txt t-2">
									<p>
										<b>Dear POSH Branding team, I would like to express my sincere gratitude for your work on the label designs for our products.</b>
									</p>
									<p>
										We have received a lot of positive feedback from both partners and end consumers. They note the bright, modern style, thoughtful details, and visual consistency with the brand. It is especially gratifying to see that the design is
										not only aesthetically appealing but also works effectively on the shelf. Thank you for your attentive approach to the tasks, efficiency, and high level of creativity.
									</p>
									<p>
										We look forward to continuing our successful collaborationand implementing new projects together with your team.
									</p>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>