// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення CSS-змінних
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@use "includes/variables.css";

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення загальних віддалених шрифтів (Google Fonts)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;
	background-color: var(--primary);
	// background-color: var(--white-acc);

	// Скролл заблоковано
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	[data-fls-loaded] & {
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболонка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обмежуючий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Загальні стилі для усього сайту
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}


[class*="__container"] {
	width: 100%;
	max-width: 1220px;
	padding-inline: 16px;
	margin-inline: auto;
}

.ibg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

* {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  &::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 3px;
  }
}

.title-hero {
	font-weight: 700;
	@include adaptiveValue("font-size", 60, 33);
	line-height: 1.22;
	text-transform: uppercase;
	text-wrap: balance;
	@media (min-width:toEm($mobileSmall)){
		line-height: 1.1;
	}
}

.t-1 {
	@include adaptiveValue("font-size", 44, 24);
}
.t-2 {
	font-size: 12px;
	@media (min-width:toEm($mobileSmall)){
		 font-size: 16px; 
	}
}
.t-3 {
	@include adaptiveValue("font-size", 64, 40);
	font-weight: 700;
	line-height: 1.2;
}
.t-4 {
	@include adaptiveValue("font-size", 26, 20);
	line-height: 1.2;
}
.t-5 {
	@include adaptiveValue("font-size", 16, 12);
	line-height: 1.7;
}