@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("D://IT/projects/PoshLanding/src/assets/svgicons/preview/iconfont.woff2?73c2ef6f6853948ff541c77d7f98938f") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-tippy2"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-tippy"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-social"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-question"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-phone"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-paint"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-notfile"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-mark"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-mail"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-letters"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-goblet"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-gear"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-gasstation"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-filenot"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-file"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-eat"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-click"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-check"]::before { 
		content: "\f112"; 
	} 
	[class*="--icon-cart"]::before { 
		content: "\f113"; 
	} 
	[class*="--icon-calculator"]::before { 
		content: "\f114"; 
	} 
	[class*="--icon-box"]::before { 
		content: "\f115"; 
	} 
	[class*="--icon-bookmark"]::before { 
		content: "\f116"; 
	} 
	[class*="--icon-book"]::before { 
		content: "\f117"; 
	} 
	[class*="--icon-bell"]::before { 
		content: "\f118"; 
	} 
	[class*="--icon-bags"]::before { 
		content: "\f119"; 
	} 
	[class*="--icon-awardbadge"]::before { 
		content: "\f11a"; 
	} 
	[class*="--icon-arrowrightd"]::before { 
		content: "\f11b"; 
	} 
	[class*="--icon-arrowrightc"]::before { 
		content: "\f11c"; 
	} 
	[class*="--icon-arrowrightb"]::before { 
		content: "\f11d"; 
	} 
	[class*="--icon-arrowrighta"]::before { 
		content: "\f11e"; 
	} 
	[class*="--icon-arrowdownb"]::before { 
		content: "\f11f"; 
	} 
	[class*="--icon-arrowdowna"]::before { 
		content: "\f120"; 
	} 
