		<div class="gallery" data-fls-gallerys>
			<div data-fls-marquee data-fls-marquee-pause data-fls-marquee-speed="500" class="gallery__line">
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-1-full.jpg" aria-label="open image">
						<img src="@img/cases/case-1.jpg" alt="case 1" />
					</button>
				</div>
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-2-full.jpg" aria-label="open image">
						<img src="@img/cases/case-2.jpg" alt="case 2" />
					</button>
				</div>
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-3-full.jpg" aria-label="open image">
						<img src="@img/cases/case-3.jpg" alt="case 3" />
					</button>
				</div>
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-4-full.jpg" aria-label="open image">
						<img src="@img/cases/case-4.jpg" alt="case 4" />
					</button>
				</div>
			</div>

			<div data-fls-marquee data-fls-marquee-pause data-fls-marquee-speed="500" data-fls-marquee-direction="right" class="gallery__line">
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-5-full.jpg" aria-label="open image">
						<img src="@img/cases/case-5.jpg" alt="case 5" />
					</button>
				</div>
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-6-full.jpg" aria-label="open image">
						<img src="@img/cases/case-6.jpg" alt="case 6" />
					</button>
				</div>
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-7-full.jpg" aria-label="open image">
						<img src="@img/cases/case-7.jpg" alt="case 7" />
					</button>
				</div>
				<div class="gallery__item">
					<button type="button" class="gallery__thumb" data-gallery-item data-src="@img/cases/case-8-full.jpg" aria-label="open image">
						<img src="@img/cases/case-8.jpg" alt="case 8" />
					</button>
				</div>
			</div>

			<div class="gallery__fullscreen" data-gallery-fullscreen data-lenis-prevent aria-hidden="true">
				<div class="gallery__overlay" data-gallery-overlay></div>
				<figure class="gallery__figure">
					<img src="" alt="" class="gallery__image" data-gallery-image />
					<button type="button" class="gallery__close" data-gallery-close aria-label="close">
						<svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="0.5" y="0.5" width="42" height="42" rx="21" stroke="white" />
							<path d="M17.5 17.5L21.5 21.5L17.5 25.5" stroke="white" />
							<path d="M25.5 25.5L21.5 21.5L25.5 17.5" stroke="white" />
						</svg>
					</button>
				</figure>
			</div>
		</div>