.header {
	position: absolute;
	z-index: 15;
	top: 0;
	left: 0;
	width: 100%;
	// .header__top
	&__top {}

	// .header__main
	&__main {}
}



.top-header {
	overflow: hidden;
	background-color:var(--white-acc);
	padding: 13px 0 11px;
	@media (min-width:toEm($mobileSmall)){
		padding: 11px 0 9px;
	}
	// .top-header__container
	&__container {
		// justify-content: center;
		@media (min-width:toEm($mobileSmall)){
			display: flex;
			align-items: center;
			gap: 20px;
			justify-content: space-between;
		}
	}


		// .top-header__about
		&__about {
		}

	
	// .top-header__right
	&__right {
		display: none;
		@media (min-width:toEm($mobileSmall)){
			display: flex;
			align-items: center;
			gap: 5px 55px;
		}
	}

	// .top-header__link
	&__link {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 10px;
		gap: 5px;
		letter-spacing: 0.01em;
		line-height: 1.2;


		&::before {
			content: '';
			border-radius: 50%;
			aspect-ratio: 1;
			width: 8px;

			animation: pulseLight 2s ease-in-out infinite;
				  // animation: pulseElastic 1.8s cubic-bezier(.25, .46, .45, .94) infinite;

			background-color: var(--green);

			@media (min-width:toEm($mobileSmall)) {
				width: 12px;
			}
		}
		


		span {
			display: inline-block;
		}

	
		@media (min-width:toEm($mobileSmall)) {
			font-size: 11px;
			gap: 12px;

		}

		.top-header__right & {
			display: none; 
			@media (min-width:toEm(750.98)){
				display: flex;
			}
		}

		// .--icon-arrowrightc {
		// 	display: grid;
		// 	place-items: center;
		// 	animation: arrowWiggle 1.5s ease-in-out infinite;

		// 	&::before {
		// 		transition: transform .3s ease;
		// 	}

		// 	font-size: 6px;

		// 	margin-left:  3px;
		// 	@media (min-width:toEm($mobileSmall)) {
		// 		font-size: 8px;
		// 		// margin-left:  5px;
		// 	}
		// }
	}

	// .top-header__link-txt
	&__link-txt {
		padding-top: 2px; 
		font-weight: 700;
	}

	// .top-header__list
	&__list {
		display: none;
		@media (min-width:toEm($mobileSmall)){
			display: flex;
			align-items: center;
			gap: 19px;
		}
	}

	// .top-header__item
	&__item {}

	// .top-header__lang
	&__lang {
		display: inline-block;
		line-height: 1.2;
		@extend %underline;

		font-size: 11px; 
		@media (min-width:toEm($mobileSmall)){
			 font-size: 12px; 
		}
	}
}

.about-header {
	position: relative;
	height: 18px;
		// .about-header__item
		&__item {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 8px;
			width: 100%;
			
			position: absolute;
			left: 0;
			transform: translate(0,100%);
			opacity: 0;

			@media (min-width:toEm($mobileSmall)){
				justify-content: unset;
				width: unset;
			}
			@media (min-width:toEm($mobileSmall)){
				 gap: 10px; 
			}

			.top-header__link {
				.top-header__link-txt {
					text-wrap: nowrap;
					font-weight: normal;
				}
			}
		}

		// .about-header__img
		&__img {
			width: 27px;
			height: auto;
			position: relative;
			top: -1.5px;
			@media (min-width:toEm($mobileSmall)){
				  top: 0;
			}
		}

		// .about-header__txt
		&__txt {
			font-size: 10px;
			text-transform: uppercase;
			text-wrap: nowrap;
			// padding-top: 2px;
			@media (min-width:toEm($mobileSmall)){
				// padding-top: 0;
				 font-size: 11px; 
			}
		}
}



@keyframes pulseLight {
	0%, 100% {
		opacity: 1;
		transform: scale(1.2);
		filter: brightness(1);
	}
	50% {
		opacity: 0.8;
		transform: scale(0.8);
		filter: brightness(1.2);
	}
}

@keyframes arrowWiggle {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(3px); }
  100% { transform: translateX(0); }
}


// @keyframes pulseElastic {
//   0%   { transform: scale(1); }
//   20%  { transform: scale(1.32); } // эластичный толчок
//   40%  { transform: scale(1.18); }
//   55%  { transform: scale(1.26); } // возврат наверх
//   70%  { transform: scale(1.10); }
//   85%  { transform: scale(1.15); } // легкий подъём
//   100% { transform: scale(1); }
// }


.main-header {
	padding-top: 20px;
	@media (min-width:toEm($mobileSmall)){
		padding-top: 45px;
	}
	// .main-header__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	// .main-header__logo
	&__logo {
		img {
			width: 100%;
			height: auto;
			max-width: 160px; 
			@media (min-width:toEm($mobileSmall)){
				max-width: 200px; 
			}
			@media (max-width: toEm(393.98)){
				// width: 140px; 
			}
		}
	}
	
	// .main-header__right
	&__right {
		display: flex;
		align-items: center;
		gap: 20px;
		@media (min-width:toEm($mobile)){
			gap: 60px;
		}
	}
	
	// .main-header__nav
	&__nav {
	}
	
	// .main-header__list
	&__list {
		display: none;
		@media (min-width:toEm($tablet)){
			display: flex;
			align-items: center;
			gap: 37px;
		}
	}
	
	// .main-header__item
	&__item {
	}
	
	// .main-header__link
	&__link {
		@extend %underline;
		color: var(--white);
		font-weight: 300;
		&::after {
			background-color: var(--white);
		}
	}
	
	// .main-header__btn
	&__btn {
		@media (max-width:toEm($mobileSmall)){
			 outline: none; 
			white-space: nowrap;
		}
		.btn-txt {
			@media (max-width:toEm($mobileXS)){
				  font-size: 12px;
			}
		}
	}
}

