<header data-fls-header class="header">
	<div class="header__top top-header">
		<div class="top-header__container">
			<a href="#" data-fls-popup-link="popup--contacts" class="top-header__link">
				<span class="top-header__link-txt">
					Ми завжди на зв'язку та відкриті до роботи
				</span>
				<span class="--icon-arrowrightd"></span>
			</a>
			<ul class="top-header__list">
				<li class="top-header__item">
					<a href="./uk/index.html" class="top-header__lang" aria-label="switch to ukranian language">UKR</a>
				</li>
				<li class="top-header__item">
					<a href="./en/index.html" class="top-header__lang" aria-label="switch to english language">ENG</a>
				</li>
				<li class="top-header__item">
					<a href="./ru/index.html" class="top-header__lang" aria-label="switch to russian language">RU</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="header__main main-header">
		<div class="main-header__container">
			<div class="main-header__logo">
				<img src="@img/icons/logo.svg" width="200" height="45" alt="logo Posh Packagin Design">
			</div>
			<div class="main-header__right">
				<nav class="main-header__nav">
					<ul class="main-header__list">
						<li class="main-header__item">
							<a href="#" class="main-header__link" aria-label="link to the block">Кейси</a>
						</li>
						<li class="main-header__item">
							<a href="#" class="main-header__link" aria-label="link to the block">Терміни</a>
						</li>
						<li class="main-header__item">
							<a href="#" class="main-header__link" aria-label="link to the block">Ціни</a>
						</li>
						<li class="main-header__item">
							<a href="#" class="main-header__link" aria-label="link to the block">Контакти</a>
						</li>
					</ul>
				</nav>
				<a href="#" data-fls-popup-link="popup--contacts" data-fls-btn class="main-header__btn btn btn--1 --icon-arrowrightb" aria-label="open popup">
					<span class="btn-txt">Зв’язатися з нами</span>
				</a>
			</div>
		</div>
	</div>
</header>