//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input-main {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px;
	border-bottom: 1px solid var(--gray);
	caret-color: inherit;
	outline: none;
	min-height: 25px; 
	@media (min-width:toEm($mobileSmall)){
		 min-height: 29px; 
	}
	&.--form-focus {
	}
	&.--form-error {
		color: var(--red);
	}
	&.--input-fill {
	}
}
.input-main[placeholder]:not([data-fls-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}
textarea.input-main {
	resize: none;
	padding: 0px 0px;
}


