.footer {
	position: relative;
	z-index: 0;
	@include adaptiveValue("padding-top", 116, 75);
	@include adaptiveValue("padding-bottom", 80, 32);
	@include adaptiveValue("margin-top", -50, -30);

	// .footer__bg-video
	&__bg-video {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		video {
			position: relative;
			z-index: 1;
		}
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background-color: rgba(0, 0, 0, 0.75);
			z-index: 2;
		}
	}
	
	// .footer__poster
	&__poster {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
	}
	
	// .footer__container
	&__container {
		position: relative;	
		z-index: 2;
		color: var(--white);
	}

	// .footer__title
	&__title {
		position: relative;
		@include adaptiveValue("margin-bottom", 87, 31);
		@media (max-width:toEm(400.98)){
			  font-size: 33px !important;
		}
		p {
			span {
				font-weight: 400;
			}
			@media (min-width:toEm($mobile)){
				max-width: 650px;
			}
		}
		&::after {
			@extend %circle;
			display: none;
			@media (min-width:toEm($mobile)){
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				translate: 50% -50%;
				width: 466px;
				filter: invert(100%) sepia(2%) saturate(721%) hue-rotate(269deg) brightness(115%) contrast(100%);
			}
		}
	}
	
	// .footer__contacts
	&__contacts {
		margin-bottom: 26px;
		@media (min-width:toEm($mobileSmall)){
			 margin-bottom: 40px; 
		}
	}
	
	// .footer__btns
	&__btns {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px 24px;
		margin-bottom: 24px;
		@media (min-width:toEm(1024.98)){
			justify-content: space-between;
		}
		@media (min-width:toEm(900.98)){
			gap: 10px;
			margin-bottom: 72px;
		}
		.btn {
			@media (max-width: toEm(900.98)){
				  max-width: 100%;
			}
		}
	}
	
	// .footer__btn--1
	&__btn--1 {
		color: var(--primary);
		.btn-txt {
			@media (min-width: toEm($mobileSmall)){
				 padding-inline: 30px 19px !important; 
			}
		}
	}
	
	// .footer__btn--2
	&__btn--2 {
	}
	
	// .footer__btn--3
	&__btn--3 {
		margin-bottom: 35px;
		@media (min-width:toEm(900.98)){
			  margin-bottom: 0;
		}
	}
	
	// .footer__btn--4
	&__btn--4 {
		display: flex;
		align-items: center;
		gap: 10px;
		@media (any-hover: hover){
			&:hover{
				&::before {
					transform: translateX(4px);
					color: var(--white);
				}
			}
		}
		span {
			display: inline-block;
			text-decoration: underline;
			text-underline-offset: 4px;
			order: 0;
		}
		&::before {
			order: 1;
			font-size: 7px;
			font-weight: 700;
			color: var(--gray-light-3);
			transition: transform 0.45s ease, color .3s ease;
			@media (min-width:toEm($mobileSmall)){
				font-size: 9px; 
			}
		}
	}
	
	// .footer__avrg
	&__avrg {
		display: flex;
		gap: 38px;
		flex-direction: column;
		margin-bottom: 20px;
		@media (min-width:toEm(820.98)){
			margin-bottom: 30px;
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}
	
	// .footer__nav
	&__nav {
		
	}
	
	// .footer__location
	&__location {
		font-weight: 300; 
		color: var(--gray-light-3);
		@media (min-width:toEm($mobileSmall)){
			font-weight: 400;
		}
		a {
			@extend %underline;
				line-height: 1.2;
				&:after {
					background-color: var(--gray-light-3);
				}
		}
	}
	
	// .footer__bottom
	&__bottom {
	}
}


.contacts-footer {
	display: flex;
	align-items: center;
	gap: 15px;
	@media (min-width:toEm($mobileSmall)){
		 gap: 30px;
	}
		// .contacts-footer__img
		&__img {
			max-width: 150px;
			@media (min-width:toEm($mobileSmall)){
				max-width: 230px; 
			}
			@media (max-width:toEm(360.98)){
				max-width: 120px;
			}
			img {
				border-radius: 15px;
				@media (min-width:toEm($mobileSmall)){
					 border-radius: 30px; 
				}
			}
		}

		// .contacts-footer__info
		&__info {
		}

		// .contacts-footer__name
		&__name {
		}

		// .contacts-footer__position
		&__position {
			color: var(--gray-light-3);
		}

		// .contacts-footer__social
		&__social {
			display: flex;
			align-items: center;
			gap: 17px;
			margin-top: 25px;
			margin-bottom: 20px;
			@media (min-width:toEm($mobileSmall)){
				margin-top: 30px;
				 gap: 20px; 
			}
		}

		// .contacts-footer__item
		&__item {
		}

		// .contacts-footer__link
		&__link {
			img {
				width: 40px;
				height: auto;
				transition: transform 0.3s ease;
				@media (min-width:toEm($mobileSmall)){
					 width: 46px; 
				}
			}
			@media (any-hover: hover){
				&:hover{
					img {
						transform: translateY(-5px);
					}
				}
			}
		}

		// .contacts-footer__links
		&__links {
		}

		// .contacts-footer__links-item
		&__links-item {
			a {
				font-weight: 600;
			}
		}

		// .contacts-footer__phone
		&__phone {
			@extend %underline;
			margin-bottom: toRem(5);
			&:after {
				background-color: var(--white);
			}
		}
		
		// .contacts-footer__email
		&__email {
			@extend %underline;
			&:after {
				background-color: var(--white);
			}
		}
}

.nav-footer {
		// .nav-footer__list
		&__list {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			max-width: 600px;
			@media (min-width:toEm(820.98)){
				gap: 50px;
				max-width: none;
			}
		}

		// .nav-footer__item
		&__item {
		}

		// .nav-footer__link
		&__link {
			@extend %underline;
			line-height: 1.2;
			&:after {
				background-color: var(--white);
			}
			@media (min-width:toEm($mobileSmall)){
				 font-weight: 300; 
			}
		}
}

.bottom-footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	line-height: 1.5;
		// .bottom-footer__copy
		&__copy {
			text-transform: uppercase;
			margin-right: 15px;
		}

		// .bottom-footer__links
		&__links {
			a {
					@extend %underline;
				// line-height: 1.2;
				&:after {
					background-color: var(--white);
				}
			}
		}
}
