 <head>
	<if condition="'[[preloader.enable]]' === 'true'">
		<include src="@components/effects/preloader/preloader.html" locals='{"once":"[[preloader.once]]"}'></include>
	</if>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<include src="@components/layout/head/fonts-preload.html"></include>
	<link rel="stylesheet" href="@styles/fonts/fonts.css">
	<link rel="stylesheet" href="@styles/fonts/iconfont.css">
	<link rel="stylesheet" href="@styles/style.scss">

	<link rel="shortcut icon" href="@img/favicons/favicon.ico">

	<link rel="icon" type="image/png" sizes="32x32" href="@img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="192x192" href="@img/favicon/favicon-192x192.png">
	<link rel="icon" type="image/png" sizes="512x512" href="@img/favicon/favicon-512x512.png">

	<link rel="apple-touch-icon" sizes="180x180" href="@img/favicon/favicon-180x180.png">

	<meta name="msapplication-TileImage" content="@img/favicon/mstile-270x270.png">
	<meta name="msapplication-TileColor" content="#1A1F35">


	<if condition="'[[keywords]]' !== ''">
		<meta name="keywords" content="[[keywords]]">
	</if>
	<if condition="'[[description]]' !== ''">
		<meta name="description" content="[[description]]">
	</if>
	<title>[[title]]</title>
</head>